<div class="container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="field col s6">
      <%= f.label :name, '姓名' %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field col s6">
      <%= f.label :gender_id, '性别' %><br>
      <%= f.collection_select :gender_id, Gender.all, :id, :name, {prompt: "选择性别"}, {class: "dropdown-toggle"} %>
    </div>
  </div>

  <div class="row">
    <div class="field col s6">
        <%= f.label :birth, '生日' %><br>
        <%= f.date_field :birth, {class: "datepicker"} %>
    </div>

    <div class="field col s6">
      <%= f.label :carrer_id, '职业' %><br>
      <%= f.collection_select :carrer_id, Carrer.all, :id, :name, {prompt: "选择职业"}, {class: "dropdown-toggle"} %>
    </div>
  </div>


  <div class="field">
    <%= f.label :email, '邮箱' %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :introduction, '介绍' %><br />
    <%= f.text_field :introduction %>
  </div>

  <div class="row">
    <div class="col s12 m3">
      <%= f.label :icon, '上传头像请点击', class: "waves-effect waves-light btn" %><br />
      <%= f.file_field :icon, class: 'inputfile', 'data-multiple-caption' => '{count} files selected' %>
    </div>
    <div class="col s12 m3 img-preview">
      <%= image_tag current_user.icon.thumb.url %><br />
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, '密码' %> <i>（如果您不想修改，请保留空白）</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '密码确认' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!--div class="field">
    <%= f.label :current_password, '当前密码' %> <i>（我们需要您的当前密码确认修改）</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div-->

  <div class="actions">
    <%= f.submit "更新资料", class: "waves-effect waves-light btn" %>
  </div>
<% end %>


<%= link_to "返回", :back %>

</div>

<script type="text/javascript">
  $('#user_icon').on('change', function(e) {
    var fileName = '';
    if (e.target.value)
      fileName = e.target.value.split('\\').pop();
    if (fileName)
      $('#user_icon').siblings().first().html(fileName);
  });

  $("#user_icon").change(function () {
    filePreview(this);
  });

</script>
