

  <div class="header-wrp header-text">
    <a href="/" class="header-wrp-left"><i class="material-icons left" id='header-wrp-icon'>&#xE5CB;</i>返回</a>
    注册
    <h class="header-wrp-right"></h>
  </div>

<br><br><br>


<!--%= form_for(resource, as: resource_name, url: registration_path(resource_name, :mobile_id => @mobile_id)) do |f| %-->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

    <div class="hrline1">
    </div>

    <div class="horiz-strap register-strap">
      <div class="register-field-left">
          手机号
      </div>
      <div class="register-field-input">
        <input placeholder="请输入手机号" type="tel" name="user[phone]" id="user_phone">
      </div>
    </div>

    <div class="hrline1">
    </div>

    <div class="horiz-strap register-strap">
      <div class="register-field-left">
        密码
      </div>
      <div class="register-field-input">
        <input placeholder="最少8个字符" autocomplete="off" type="password" name="user[password]" id="user_password">
      </div>
    </div>
    <div class="hrline1">
    </div>
    <br>

  <div class="row center">
    <button class="btn waves-effect waves-light btn-mobile" type="button" name="action" id="nextbtn">
      下一步
    </button>
  </div>  
<% end %>



<script>
 
$(document).ready(function(){
  /*$("#regbtn").click(function(){
    var input_number=$("#user_phone").val();
    var verification_code=$("#vcode").val();
    if (input_number=="")
    {
      alert("请填入手机号码!");
    }
  
    $.post("/user/create_code",
    {
      number: input_number,
      isregister: 1
    },
    function(data,status){
      //alert("数据：" + data + "\n状态：" + status);
      alert(data);

      if(data!="newnumber")
      {
        //alert("该号码已被注册！");
        //location.href="/users/sign_in";
      }
      else
      {
        //alert("该号码存在ookk");
        //$("#new_user").submit();
      }
    });

  });*/

  $("#nextbtn").click(function(){
    var input_number=$("#user_phone").val();
    var passwd=$("#user_password").val();
    //var verification_code=$("#vcode").val();
    if (input_number=="")
    {
      alert("请填入手机号码!");
      return;
    }

    if(!(/^1[3|4|5|7|8]\d{9}$/.test(input_number))){ 
        alert("不是正确的11位手机号!"); 
        return; 
    } 

    if (passwd.length<8)
    {
      alert("密码长度不能小于8位！");
      return;
    }
    /*if (verification_code=="")
    {
      alert("请填入验证码!");
    }

  
    $.post("/user/verify_code",
    {
      number: input_number,
      code: verification_code
    },
    function(data,status){
      //alert("数据：" + data + "\n状态：" + status);
      alert(data);

      if(data!="verify_pass")
      {
        alert("验证码不正确!");
        //location.href="/users/sign_in";
      }
      else
      {
        //alert("该号码存在ookk");
        $("#new_user").submit();
      }
    });*/

   $.post("/user/verify_phone",
    {
      number: input_number,
      isregister: 1
    },
    function(data,status){
      //alert("数据：" + data + "\n状态：" + status);
      //alert(data);

      if(data=="newphone")
      {
        $("#new_user").submit();
        
        //location.href="/users/sign_in";
      }
      else if(data=="existedverified")
      {
        alert("该号码已注册，请登录！");
        location.href="/users/sign_in";
      }
      else
      {
        //existed not verified
        $.post("/user/create_code",
        {
          number: input_number,
          isregister: 1
        },
        function(data,status){
          //alert("数据：" + data + "\n状态：" + status);
          alert(data);
          if(data!="codesent")
          {
            alert("获取验证码失败!");
          }
          else
          {
            location.href="/user/verify_code?phone="+input_number;
          }

        });
      }
    });

  });


});
</script>
