<div class="container">
<h5>注册</h5>

<!--%= form_for(resource, as: resource_name, url: registration_path(resource_name, :mobile_id => @mobile_id)) do |f| %-->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>


  <div class="field">
    <!--%= f.label :phone, '请输入您手机' %-->
    <%= f.phone_field :phone, :placeholder => '请输入手机号', autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :password, '密码' %>
    <% if @minimum_password_length %>
    <em>（最少<%= @minimum_password_length %>个字符）</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="row center">
    <button class="btn-floating btn-large waves-effect waves-light" type="button" name="action" id="subtn">
      注册
    </button>
  </div>  
<% end %>

</div>

<script>
 
$(document).ready(function(){
  $("#subtn").click(function(){
    var input_number=$("#user_phone").val();
    //var verification_code=$("#vcode").val();
    if (input_number=="")
    {
      alert("请填入手机号码!");
      return;
    }

   $.post("/user/verify_phone",
    {
      number: input_number,
      isregister: 1
    },
    function(data,status){
      //alert("数据：" + data + "\n状态：" + status);
      alert(data);

      if(data=="newphone")
      {
        $("#new_user").submit();
        
        //location.href="/users/sign_in";
      }
      else if(data=="existedverified")
      {
        alert("该号码已注册，请登录！");
        location.href="/users/sign_in";
      }
      else
      {
        //existed not verified
        $.post("/user/create_code",
        {
          number: input_number,
          isregister: 1
        },
        function(data,status){
          //alert("数据：" + data + "\n状态：" + status);
          alert(data);
          if(data!="codesent")
          {
            alert("获取验证码失败!");
          }
          else
          {
            location.href="/user/verify_code?phone="+input_number;
          }

        });
      }
    });

  });


});
</script>
