<div class="header-wrp header-text">
    <h class="header-wrp-left" id="header-back"><i class="material-icons left header-wrp-left" id='header-wrp-icon'>&#xE5CB;</i>返回</h>
    <%=@user.name%>的主页
    <h class="header-wrp-right"></h>
</div>

<br><br>

<div class="container" id="show-container" >
  <div class="row">
    <div style="text-align:center;clear:both">
    <div class="col s12 m4">
      <div>
        <% if @user.icon!=nil %>
          <img id="image-show" src='<%=@user.icon.url%>'>
        <% end %>
      </div>
    </div>
    </div>

    <div class="col s12 m6">    
    <h5 id="h-gray">
      <%= @user.name %>
    </h5>
    <p>
      <strong>性别:</strong>
      <% if @user.gender!=nil %>
        <%= @user.gender.name %>
      <% end %>
    </p>
    <p>
      <strong>年龄:</strong>
        <%if @user.birth!=nil%>
          <%= Time.now.year-@user.birth.year %>
        <%end%>
    </p>
    <p>
      <strong>职业:</strong>
      <% if @user.carrer!=nil %>
        <%= @user.carrer.name %>
      <% end %>
    </p>
    <p>
      <strong>介绍:</strong>
      <% if @user.introduction!=nil %>
        <%= @user.introduction %>
      <% end %>
    </p>
    <p>
      <strong>加入时间:</strong>
      <%= @user.created_at.strftime("%Y")+'-'+@user.created_at.strftime("%m")+'-'+@user.created_at.strftime("%d") %>
    </p>
    <p>
      <strong>联系方式:</strong>
      <%= @user.phone.sub(/(\d{3})\d{5}(\d{3})/){"#{$1}*****#{$2}"} %>
    </p>
    </div>
    <div class="col s12 m2">  
    </div>
  </div>

  <div class="row">
  <div class="col s12 m10">  
    <p>
      <h5 id="h-gray">TA的生活照：</h5>
      <% @pictures.each do |picture| %>
        <div class="picture">
          <img class="materialboxed" height="255" src='<%=picture.picture_url%>'>
        </div>
      <% end %>
    </p>
    <div style="clear:both"></div>
  </div>

  <div class="col s12 m2">

  </div>
  </div>


<%= link_to '返回', agendas_path %>
</div>

<%= render 'layouts/footer' %>

<script type="text/javascript">
  
  $("#header-back").click(function(){
    history.go(-1);
  });

</script>