  <div class="header-wrp header-text">
    <a href="/info" class="header-wrp-left"><i class="material-icons left" id='header-wrp-icon'>&#xE5CB;</i>取消</a>
    修改昵称
    <h class="header-wrp-right" id="nick-save">保存</h>
  </div>

   <h5 id="h-gray">
      欢迎您:
      <%= @current_user.name %>
    </h5>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="gray-contrainer">
    <br>
    <div class="horiz-strap userinfo-strap">
      <div class="strap-left">
        <div class="strap-word">
          <label>昵称</label>
        </div>
      </div>
      <div class="strap-right">
        <input autofocus="autofocus" type="text" value="<%=resource.name%>" name="user[name]" id="user_name">
      </div>
    </div>
    <br>
<% end %>

    <div class="hrline1">
    </div>

    <div class="horiz-strap userinfo-strap">
    </div>

  </div>

<%= render 'layouts/footer' %>

<script type="text/javascript">
  $("#nick-save").click(function(){
      $("#edit_user").submit();
  });
</script>