  <div class="header-wrp header-text">
    <a href="/home" class="header-wrp-left"><i class="material-icons left" id='header-wrp-icon'>&#xE5CB;</i>主页</a>
    我的资料
    <h class="header-wrp-right"></h>
  </div>

  <br><br>

    <div class="hrline3">
    </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


    <div class="horiz-strap userinfo-strap" id="horiz-strap-usericon">
      <div id="horiz-strap-usericon-float">
        <div class="strap-left">
          <!--div class="strap-icon-wrp">
            <i class="material-icons strap-icon">&#xE145;</i>
          </div-->
            <div class="strap-word" id="strap-word-usericon">
              点击选取头像
            </div>
        </div>
        <div class="strap-right" id="strap-right-usericon">
          <img class="radius-icon" id="user-icon-select" src='<%=resource.icon.thumb.url%>'>
        
        </div>
      </div>  
      <input type="file" name="user[icon]" id="user_icon_mobile">
    </div>


    <!--div class="horiz-strap">
      <div class="field">
        <%= f.label :icon, '若需修改头像请重新选择：' %><br />
        <%= image_tag current_user.icon.thumb.url %><br />
        <%= f.file_field :icon %>
      </div>
    </div-->

  <!--div class="row center">
    <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="commit" id="subtn">
      更新
    </button>
  </div-->


    <div class="hrline3">
    </div>

  <a href="/info/nick">
    <div class="horiz-strap userinfo-strap">
        <div class="strap-left">
          <div class="strap-word">
            昵称
          </div>
        </div>
        <div class="strap-right">
          <%=resource.name%>>
        </div>
    </div>
  </a>

    <div class="hrline1">
    </div>

  <!--a href="/info/age"-->
    <div class="horiz-strap userinfo-strap">
        <div class="strap-left">
          <div class="strap-word">
            年龄
          </div>
        </div>
        <div class="strap-right">
          <%if @current_user.birth!=nil%>
            <%= Time.now.year-resource.birth.year %>
          <%end%>
        </div>
    </div>
  <!--/a-->

    <div class="hrline1">
    </div>



  <div class="horiz-strap userinfo-strap form-item item-line" id="selectDate">
    <div class="strap-left">
      <div class="strap-word">
        选择生日
      </div>
    </div>   
    <div class="strap-right pc-box">                     
      <span data-year="" data-month="" data-date="" id="showDate">
        <% if resource.birth!=nil %>
          <%= resource.birth %>
        <% end %>
      </span>> 
    </div>
    <% if resource.birth!=nil %>            
      <input type="hidden" name="user[birth]" id="user_birth" value="<%= resource.birth %>"> 
    <% else %> 
      <input type="hidden" name="user[birth]" id="user_birth" value="">
    <% end %>         
  </div>
 

  <div class="hrline1">
  </div>

    <div class="horiz-strap userinfo-strap form-item item-line" id="showSex">
      <div class="strap-left">
        <div class="strap-word">
          请选择性别
        </div>          
      </div>
      <div class="pc-box strap-right">
      <% if resource.gender!=nil %>                  
        <input type="hidden" name="user[gender_id]" id="sexId" value="<%= resource.gender.id %>">
      <% else %> 
        <input type="hidden" name="user[gender_id]" id="sexId" value="">
      <% end %>
        <span id="dispSex">
          <% if resource.gender!=nil %>
            <%= resource.gender.name %>
          <% end %>   
        </span>  
        >
      </div>   
    </div>

  <div class="hrline1">
  </div>

    <div class="horiz-strap userinfo-strap form-item item-line" id="showCarrer">
      <div class="strap-left">
        <div class="strap-word">
          请选择职业
        </div>         
      </div>
      <div class="pc-box strap-right">
      <% if resource.carrer!=nil %>                    
        <input type="hidden" name="user[carrer_id]" id="carrerId" value="<%= resource.carrer.id %>"> 
      <% else %>
        <input type="hidden" name="user[carrer_id]" id="carrerId" value="">
      <% end %>
        <span id="dispCarrer">
          <% if resource.carrer!=nil %>
            <%= resource.carrer.name %>
          <% else %>
          <% end %>   
        </span>  
        >
      </div>
    </div>

  <div class="hrline1">
  </div>

<% end %>


<%= render 'layouts/footer' %>

<script type="text/javascript">
// icon select
  function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
            
          reader.onload = function (e) {
              $('#user-icon-select').attr('src', e.target.result);
          }
            
          reader.readAsDataURL(input.files[0]);
      }
  }
    
  $("#user_icon_mobile").change(function(){
      readURL(this); // this makes the picture show immediatelty after user select object
      $("#edit_user").submit();
  });

// birthday select
var selectDateDom = $('#selectDate');
    var showDateDom = $('#showDate');
    // 初始化时间
    var now = new Date();
    var nowYear = now.getFullYear();
    var nowMonth = now.getMonth() + 1;
    var nowDate = now.getDate();
    showDateDom.attr('data-year', nowYear);
    showDateDom.attr('data-month', nowMonth);
    showDateDom.attr('data-date', nowDate);
    // 格式化年
    function formatYear (nowYear) {
        var arr = [];
        for (var i = nowYear - 100; i <= nowYear; i++) {
            arr.push({
                id: i + '',
                value: i + '年'
            });
        }
        return arr;
    }
    // 格式化月
    function formatMonth () {
        var arr = [];
        for (var i = 1; i <= 12; i++) {
            arr.push({
                id: i + '',
                value: i + '月'
            });
        }
        return arr;
    }
    // 格式化日期
    function formatDate (count) {
        var arr = [];
        for (var i = 1; i <= count; i++) {
            arr.push({
                id: i + '',
                value: i + '日'
            });
        }
        return arr;
    }
    // 年数据，方法
    var yearData = function () {
        return formatYear(nowYear);
    };
    // 月数据，方法
    var monthData = function () {
        return formatMonth();
    };
    // 日数据，方法
    var dateData = function (year, month) {
        if (/^1|3|5|7|8|10|12$/.test(month)) {
            return formatDate(31);
        }
        else if (/^4|6|9|11$/.test(month)) {
            return formatDate(30);
        }
        else if (/^2$/.test(month)) {
            if (year % 4 === 0 && year % 100 !==0 || year % 400 === 0) {
                return formatDate(29);
            }
            else {
                return formatDate(28);
            }
        }
        else {
            throw new Error('month is illegal');
        }

    };
    selectDateDom.bind('click', function () {
        var oneLevelId = showDateDom.attr('data-year');
        var twoLevelId = showDateDom.attr('data-month');
        var threeLevelId = showDateDom.attr('data-date');
        var iosSelect = new IosSelect(3, 
            [yearData, monthData, dateData],// 这里传入的是方法
            {
                title: '出生日期',
                itemHeight: 35,
                oneTwoRelation: 1,
                twoThreeRelation: 1,
                oneLevelId: oneLevelId,
                twoLevelId: twoLevelId,
                threeLevelId: threeLevelId,
                callback: function (selectOneObj, selectTwoObj, selectThreeObj) {
                    showDateDom.attr('data-year', selectOneObj.id);
                    showDateDom.attr('data-month', selectTwoObj.id);
                    showDateDom.attr('data-date', selectThreeObj.id);
                    showDateDom.html(selectOneObj.value + selectTwoObj.value + selectThreeObj.value);
                    var birthday=showDateDom.attr('data-year')+'-'+showDateDom.attr('data-month')+'-'+showDateDom.attr('data-date');
                    document.getElementById("user_birth").value=birthday;
                    $("#edit_user").submit();
                }
        });
    });

//carrer select
  var carrerdata = [
    {'id': '1', 'value': '工程师'},
    {'id': '2', 'value': '销售'},
    {'id': '3', 'value': '艺术家'},
    {'id': '4', 'value': '财务'},
    {'id': '5', 'value': '金融'},
    {'id': '6', 'value': '教育'}
];

    var showCarrerDom = document.querySelector('#showCarrer');
    var carrerIdDom = document.querySelector('#carrerId');
    var dispCarrerDom = document.querySelector('#dispCarrer');
    showCarrerDom.addEventListener('click', function () {
        var carrerId = showCarrerDom.dataset['id'];
        var carrerName = showCarrerDom.dataset['value'];

        var carrerSelect = new IosSelect(1, 
            [carrerdata],
            {
                title: '职业选择',
                itemHeight: 35,
                oneLevelId: carrerId,
                callback: function (selectOneObj) {
                    carrerIdDom.value = selectOneObj.id;
                    dispCarrerDom.innerHTML = selectOneObj.value;
                    showCarrerDom.dataset['id'] = selectOneObj.id;
                    showCarrerDom.dataset['value'] = selectOneObj.value;
                    $("#edit_user").submit();
                }
        });
    });

// gender select
 var genderdata = [
    {'id': '1', 'value': '男'},
    {'id': '2', 'value': '女'}
];

    var showSexDom = document.querySelector('#showSex');
    var sexIdDom = document.querySelector('#sexId');
    var dispSexDom = document.querySelector('#dispSex');
    showSexDom.addEventListener('click', function () {
        var sexId = showSexDom.dataset['id'];
        var sexName = showSexDom.dataset['value'];

        var bankSelect = new IosSelect(1, 
            [genderdata],
            {
                title: '选择性别',
                itemHeight: 35,
                oneLevelId: sexId,
                callback: function (selectOneObj) {
                    sexIdDom.value = selectOneObj.id;
                    dispSexDom.innerHTML = selectOneObj.value;
                    showSexDom.dataset['id'] = selectOneObj.id;
                    showSexDom.dataset['value'] = selectOneObj.value;
                    $("#edit_user").submit();
                }
        });
    });

</script>