  <div class="header-wrp header-text">
    <a href="/home" class="header-wrp-left"><i class="material-icons left" id='header-wrp-icon'>&#xE5CB;</i>返回</a>
    我的相册
    <h class="header-wrp-right"></h>
  </div>
<br>
<% if mobile_device? %>
<div class="container" id="show-container" >
<% if flash[:notice] %>
<div style="text-align:center;clear:both" id="notice-info">
  <div class="Message Message--green">
    <div class="Message-icon">
      <i class="material-icons">done</i>
    </div>
    <div class="Message-body">
      <h4><%= notice %></h4>
    </div>
    <button class="Message-close" class="close" id="notice-close"><i class="material-icons">close</i></button>
  </div>
</div>
<% end %>

  <div class="row">
    <div class="col s12 m4">
      <div style="text-align:center;clear:both">
      <div>
        <img id="image-show" src='<%=@current_user.icon.url%>'>
      </div>
      </div>
    </div>

    <div class="col s12 m6">    
    <h5 id="h-gray">
      欢迎您:
      <%= @current_user.name %>
    </h5>
    <p>
      <strong>性别:</strong>
      <%if @current_user.gender!=nil%>
        <%= @current_user.gender.name %>
      <%end%>
    </p>
    <p>
      <strong>年龄:</strong>
      <%if @current_user.age!=nil%>
        <%= @current_user.age.name %>
      <% end %>
    </p>
    <p>
      <strong>职业:</strong>
      <%if @current_user.carrer!=nil%>
        <%= @current_user.carrer.name %>
      <% end %>
    </p>
    <p>
      <strong>介绍:</strong>
      <%if @current_user.introduction!=nil%>
        <%= @current_user.introduction %>
      <% end %>
    </p>
    <p>
      <strong>加入时间:</strong>
      <%= @current_user.created_at.strftime("%Y")+'-'+@current_user.created_at.strftime("%m")+'-'+@current_user.created_at.strftime("%d") %>
    </p>
    <p>
      <strong>联系方式:</strong>
      <%= @current_user.phone %>
    </p>
    <p>
      <a href="/users/edit">更新资料</a> 
    </p>
    </div>
    <div class="col s12 m2">  
    </div>
  </div>

  <div class="row">
  <div class="col s12 m10">  
    <p>
      <h5 id="h-gray">您的生活照：</h5>
    <% @pictures.each do |picture| %>
        <div class="picture">
          <img class="materialboxed" height="255" src='<%=picture.picture_url%>'>
          <div id="center-text">
          <%= link_to '删除', picture, method: :delete, data: { confirm: '确定删除该照片吗？' } %>
          </div>
        </div>
    <% end %>
    </p>
    <div style="clear:both"></div>

<% @picture = Picture.new %>
<%= form_for(@picture, :html => { :multipart => true }) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pictures %><br>
    <%= file_field_tag "pictures[]", type: :file, multiple: true %>
  </div>
  <div class="actions">
    <%= f.submit :上传照片 %>
  </div>
<% end %>

  </div>

  <div class="col s12 m2">

  </div>
  </div>


</div>

<% if flash[:notice] %>
<script type="text/javascript">
  document.getElementById('notice-close').onclick=function(){
    $('#notice-info').remove();
  }
</script>
<% end %>

<% end %>

<% if !mobile_device? %>
  <div class="header-wrp header-text">
    <a href="/home" class="header-wrp-left"><</a>
    我的相册
  </div>
  <br><br><br>
  <div class="text-center">
    <img class="radius-icon" src='<%=@current_user.icon.thumb.url%>'>
  </div>
  <h5 class="text-center">
    <%= @current_user.name %>
  </h5>

      <p>
      <h5 id="h-gray">您的生活照：</h5>
    <% @pictures.each do |picture| %>
        <div class="picture">
          <img class="materialboxed" height="255" src='<%=picture.picture_url%>'>
          <div id="center-text">
          <%= link_to '删除', picture, method: :delete, data: { confirm: '确定删除该照片吗？' } %>
          </div>
        </div>
    <% end %>
    </p>
    <div style="clear:both"></div>


<% end %>