  <div class="header-wrp header-text">
    我
  </div>
  <br><br>
  <div class="text-center">
    <img class="radius-icon" src='<%=@current_user.icon.thumb.url%>'>
  </div>
  <h5 class="text-center">
    <%= @current_user.name %>
  </h5>

    <div class="hrline3">
    </div>
    <a href="/info">
      <div class="horiz-strap userhome-strap">
        <div class="strap-left">
          <div class="strap-icon-wrp">
            <i class="material-icons strap-icon">&#xE851;</i>
          </div>
            <div class="strap-word">
            我的资料
            </div>
        </div>
        <div class="strap-right">
          >
        </div>
      </div>
    </a>

    <div class="hrline1">
    </div>

    <a href="/album">
      <div class="horiz-strap userhome-strap">
        <div class="strap-left">
          <div class="strap-icon-wrp">
            <i class="material-icons strap-icon">&#xE3B3;</i>
          </div>
            <div class="strap-word">
            我的相册
            </div>
        </div>
        <div class="strap-right">
          >
        </div>
      </div>
    </a>

    <div class="hrline1">
    </div>

    <a href="/attends">
      <div class="horiz-strap userhome-strap">
        <div class="strap-left">
          <div class="strap-icon-wrp">
            <i class="material-icons strap-icon">&#xE54E;</i>
          </div>
            <div class="strap-word">
            我的参与
            </div>
        </div>
        <div class="strap-right">
          >
        </div>
      </div>
    </a>

    <div class="hrline1">
    </div>
    
    <a href="/pubs">
      <div class="horiz-strap userhome-strap">
        <div class="strap-left">
          <div class="strap-icon-wrp">
            <i class="material-icons strap-icon">&#xE153;</i>
          </div>
            <div class="strap-word">
            我的发布
            </div>
        </div>
        <div class="strap-right">
          >
        </div>
      </div>
    </a>

    <div class="hrline2">
    </div>

    <a href="/settings">
      <div class="horiz-strap userhome-strap">
        <div class="strap-left">
          <div class="strap-icon-wrp">
            <i class="material-icons strap-icon">&#xE8B8;</i>
          </div>
            <div class="strap-word">
            账号设置
            </div>
        </div>
        <div class="strap-right">
          >
        </div>
      </div>
    </a>
    <div class="hrline1">
    </div>

    <br>

    <div class="horiz-strap userhome-strap" id="signout">
      <a href="/users/sign_out" data-method='delete' class="waves-effect waves-light btn btn-mobile" id="btn-signout">  退出账号
      </a>
    </div>
    <br><br><br><br>
  

<%= render 'layouts/footer' %>