
  <div class="header-wrp header-text">
    <a href="/home" class="header-wrp-left"><i class="material-icons left" id='header-wrp-icon'>&#xE5CB;</i>返回</a>
    我的参与
    <h class="header-wrp-right"></h>
  </div>

<p>
  <strong>您参加的活动：</strong>
</p>
  <ul class="collapsible" data-collapsible="expandable">
    <% @attend_agendas.each do |agenda| %>
    <% @sponsor=User.find(agenda.sponsor_id) %>
    <% @image_first=agenda.images.first %>
    <li>
      <div class="collapsible-header" id="collaps-header">
        <div id="float-unit-collaps-header-icon">
          <img class="radius-icon" src=<%=@sponsor.icon.thumb.url%>>
        </div>
        <div id="float-unit-collaps-header-item">
          <%= agenda.name %>
        </div>
        <div id="float-unit-collaps-header-flag">
          <% if agenda.isoverdue==1 %>
            已结束
          <% else %>
            预备中
          <% end %>
        </div>
        <div style="clear:both"></div>
      </div>
      <div class="collapsible-body" id="collaps-body">
        <div id="float-unit-collaps-body-image">
            <div id="collaps-image">
              <% if @image_first!=nil %>
                <%= link_to image_tag(@image_first.image.thumb.url), agenda %>
              <% end %>
            </div>
        </div>
        <div id="float-unit-collaps-body-item">
          <h6>发起者:<%= link_to("#{@sponsor.name}","/agendas/users/#{agenda.sponsor_id}")%></h6>
          <h6>主题:<%= agenda.name %></h6>
          <h6>描述:<%= agenda.description %></h6>
          <h6>地址:<%= agenda.address %></h6>
          <h6>时间:<%= agenda.datatime %></h6>
        </div>
        <div style="clear:both"></div>
      </div>
    </li>
    <% end %>
  </ul>