<div class="container" id="show-container" >
<% if flash[:notice] %>
<div style="text-align:center;clear:both" id="notice-info">
  <div class="Message Message--green">
    <div class="Message-icon">
      <i class="material-icons">done</i>
    </div>
    <div class="Message-body">
      <h4><%= notice %></h4>
    </div>
    <button class="Message-close" class="close" id="notice-close"><i class="material-icons">close</i></button>
  </div>
</div>
<% end %>

  <div class="row">
    <div class="col s12 m4">
      <div style="text-align:center;clear:both">
      <div>
        <img id="image-show" src='<%=@current_user.icon.url%>'>
      </div>
      </div>
    </div>

    <div class="col s12 m6">    
    <h5 id="h-gray">
      欢迎您:
      <%= @current_user.name %>
    </h5>
    <p>
      <strong>性别:</strong>
      <%if @current_user.gender!=nil%>
        <%= @current_user.gender.name %>
      <%end%>
    </p>
    <p>
      <strong>年龄:</strong>
      <%if @current_user.birth!=nil%>
        <%= Time.now.year-resource.birth.year %>
      <%end%>
    </p>
    <p>
      <strong>职业:</strong>
      <%if @current_user.carrer!=nil%>
        <%= @current_user.carrer.name %>
      <% end %>
    </p>
    <p>
      <strong>介绍:</strong>
      <%if @current_user.introduction!=nil%>
        <%= @current_user.introduction %>
      <% end %>
    </p>
    <p>
      <strong>加入时间:</strong>
      <%= @current_user.created_at.strftime("%Y")+'-'+@current_user.created_at.strftime("%m")+'-'+@current_user.created_at.strftime("%d") %>
    </p>
    <p>
      <strong>联系方式:</strong>
      <%= @current_user.phone %>
    </p>
    <p>
      <a href="/users/edit">更新资料</a> 
    </p>
    </div>
    <div class="col s12 m2">  
    </div>
  </div>

  <div class="row">
  <div class="col s12 m10">  
    <p>
      <h5 id="h-gray">您的生活照：</h5>
    <% @pictures.each do |picture| %>
        <div class="picture">
          <img class="materialboxed" height="255" src='<%=picture.picture_url%>'>
          <div id="center-text">
          <%= link_to '删除', picture, method: :delete, data: { confirm: '确定删除该照片吗？' } %>
          </div>
        </div>
    <% end %>
    </p>
    <div style="clear:both"></div>

<% @picture = Picture.new %>
<%= form_for(@picture, :html => { :multipart => true }) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pictures, '选择生活照', class: "waves-effect waves-light btn" %><br>
    <%= file_field_tag "pictures[]", type: :file, multiple: true, 'data-multiple-caption'=>'选中{count}个文件' %>
  </div>
  <div class="actions">
    <%= f.submit "上传" %>
  </div>
<% end %>

  </div>

  <div class="col s12 m2">

  </div>
  </div>


<p>
  <strong>您参加的活动：</strong>
</p>
  <ul class="collapsible" data-collapsible="expandable">
    <% @attend_agendas.each do |agenda| %>
    <% @sponsor=User.find(agenda.sponsor_id) %>
    <% @image_first=agenda.images.first %>
    <li>
      <div class="collapsible-header" id="collaps-header">
        <div id="float-unit-collaps-header-icon">
          <%= image_tag(@sponsor.icon.thumb.url)%>
        </div>
        <div id="float-unit-collaps-header-item">
          <%= agenda.name %>
        </div>
        <div id="float-unit-collaps-header-flag">
          <% if agenda.isoverdue==1 %>
            已结束
          <% else %>
            预备中
          <% end %>
        </div>
        <div style="clear:both"></div>
      </div>
      <div class="collapsible-body" id="collaps-body">
        <div id="float-unit-collaps-body-image">
            <div id="collaps-image">
              <% if @image_first!=nil %>
                <%= link_to image_tag(@image_first.image.thumb.url), agenda %>
              <% end %>
            </div>
        </div>
        <div id="float-unit-collaps-body-item">
          <h6>发起者:<%= link_to("#{@sponsor.name}","/agendas/users/#{agenda.sponsor_id}")%></h6>
          <h6>主题:<%= agenda.name %></h6>
          <h6>描述:<%= agenda.description %></h6>
          <h6>地址:<%= agenda.address %></h6>
          <h6>时间:<%= agenda.datatime %></h6>
        </div>
        <div style="clear:both"></div>
      </div>
    </li>
    <% end %>
  </ul>


<p>
  <strong>您发起的活动：</strong>
</p>
  <ul class="collapsible" data-collapsible="expandable">
    <% @sponser_agendas.each do |agenda| %>
    <% @sponsor=User.find(agenda.sponsor_id) %>
    <% @image_first=agenda.images.first %>
    <li>
      <div class="collapsible-header">
        <div id="float-unit-collaps-header-icon">
          <%= image_tag(@sponsor.icon.thumb.url)%>
        </div>
        <div id="float-unit-collaps-header-item">
          <%= agenda.name %>
        </div>
        <div id="float-unit-collaps-header-flag">
          <% if agenda.isoverdue==1 %>
            已结束
          <% else %>
            预备中
          <% end %>
        </div>
        <div style="clear:both"></div>
      </div>
      <div class="collapsible-body" id="collaps-body">
        <div id="float-unit-collaps-body-image">
            <div id="collaps-image">
              <% if @image_first!=nil %>
                <%= link_to image_tag(@image_first.image.thumb.url), agenda %>
              <% end %>
            </div>
        </div>
        <div id="float-unit-collaps-body-item">
          <h6>主题:<%= agenda.name %></h6>
          <h6>描述:<%= agenda.description %></h6>
          <h6>地址:<%= agenda.address %></h6>
          <h6>时间:<%= agenda.datatime %></h6>
          <%= link_to '编辑', edit_agenda_path(agenda) %>
          <%= link_to '删除', agenda, method: :delete, data: { confirm: '您确定吗？' } %>
        </div>
        <div style="clear:both"></div>
      </div>
    </li>
    <% end %>
  </ul>


<%= link_to '返回', agendas_path %>
</div>

<script type="text/javascript">
  $( "label[for='picture_pictures']" ).click(function() {
    $( "#pictures_" ).click();
  });
  changeUploadButton($('#pictures_'));
</script>

<% if flash[:notice] %>
<script type="text/javascript">
  document.getElementById('notice-close').onclick=function(){
    $('#notice-info').remove();
  }
</script>
<% end %>
