  <div class="header-wrp header-text">
    <a href="/home" class="header-wrp-left"><i class="material-icons left" id='header-wrp-icon'>&#xE5CB;</i>主页</a>
    账号设置
    <h class="header-wrp-right"></h>
  </div>

  <br><br>

    <div class="hrline3">
    </div>




  <a href=<%="/user/reset_password?number="+@current_user.phone%>>
    <div class="horiz-strap userinfo-strap">
        <div class="strap-left">
          <div class="strap-word">
            修改密码
          </div>
        </div>
        <div class="strap-right">
          >
        </div>
    </div>
  </a>



    <div class="hrline3">
    </div>


    <div class="horiz-strap userinfo-strap">
        <div class="strap-left">
          <div class="strap-word">
            关于我们
          </div>
        </div>
        <div class="strap-right">
          >
        </div>
    </div>


    <div class="hrline1">
    </div>

    <div class="horiz-strap userinfo-strap">
        <div class="strap-left">
          <div class="strap-word">
            意见反馈
          </div>
        </div>
        <div class="strap-right">
          >
        </div>
    </div>


    <div class="hrline1">
    </div>



<%= render 'layouts/footer' %>

<script type="text/javascript">

</script>