<p id="notice"><%= notice %></p>

<h1>Listing Reps</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reps.each do |rep| %>
      <tr>
        <td><%= rep.comment %></td>
        <td><%= link_to 'Show', rep %></td>
        <td><%= link_to 'Edit', edit_rep_path(rep) %></td>
        <td><%= link_to 'Destroy', rep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rep', new_rep_path %>
