<div class="container">
<p id="notice"><%= notice %></p>


<h5>请输入您手机:</h5>
<input type="text" id="mobile_number" autofocus="autofocus" />
<a class="btn" id="regbtn">点击获取验证码</a><br>

</div>

<script>
$(document).ready(function(){
  $("#regbtn").click(function(){
    var input_number=$("#mobile_number").val();
    if (input_number==null)
    {
      alert("请填入手机号码!");
    }
    if (document.getElementById("regbtn").innerHTML!="点击获取验证码")
    {
      return;
    }
    $.post("/user/create_code",
    {
      number: input_number,
      isregister: 0
    },
    function(data,status){
      alert(data);
      if(data!="codesent")
      {
        alert("获取验证码失败!");
      }
      else
      {
        location.href="/user/reset_password?number="+input_number;
      }
      
    });
  });
});
</script>