
  <div class="header-wrp header-text">
    <a href="/users/sign_in" class="header-wrp-left"><i class="material-icons left" id='header-wrp-icon'>&#xE5CB;</i>返回</a>
    忘记密码
    <h class="header-wrp-right"></h>
  </div>


<br><br>

<p id="notice"><%= notice %></p>

<div class="text-center">
<h4>
 请输入您手机
</h4>

</div>



    <div class="hrline1">
    </div>

    <div class="horiz-strap register-strap">
      <div class="register-field-left">
          手机号
      </div>
      <div class="register-field-input">
        <input placeholder="请输入手机号" type="tel" name="user[phone]" id="mobile_number">
      </div>
    </div>

    <div class="hrline1">
    </div>

<br>

<div class="row center">
  <a class="btn waves-effect waves-light btn-mobile" id="regbtn">下一步</a><br>
</div>

</div>

<script>
$(document).ready(function(){
  $("#regbtn").click(function(){
    var input_number=$("#mobile_number").val();
    if (input_number==null)
    {
      alert("请填入手机号码!");
    }
    /*if (document.getElementById("regbtn").innerHTML!="点击获取验证码")
    {
      return;
    }*/
    $.post("/user/create_code",
    {
      number: input_number,
      isregister: 0
    },
    function(data,status){
      alert(data);
      if(data!="codesent")
      {
        alert("获取验证码失败!");
      }
      else
      {
        location.href="/user/reset_password?number="+input_number;
      }
      
    });
  });
});
</script>