<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>系统已经将验证码发送到您的手机：</strong>
  <%=params[:number]%>
</p>

<h5>请输入您收到的验证码:</h5>
<input type="text" id="mobile_verification_code" autofocus="autofocus" />
<a class="btn" id="resend-reset-btn">重新发送</a>



<% @user=User.find_by(phone: params[:number])%>
<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
<%=hidden_field_tag :userid, @user.id %> 
  <div class="field">
    <%= f.label :新密码, "设置新的密码" %><br />
    <%= f.password_field :password, :autocomplete => "off"  %>
  </div>
  <div class="field">
    <%= f.label :确认密码  %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <a class="btn" id="subtn">重设密码</a>
<% end %>

</div>

<%= javascript_tag do %>
  var phonenumber = '<%= params[:number] %>';
  var userid= '<%= @user.id %>'
<% end %>

<script>

function timerTrigger(btnObj){
    btnObj.setAttribute("class","btn disabled");
  var Countdown = 6;
  btnObj.innerHTML = "已发送(" + Countdown + '秒)';
  var Timer = setInterval(getTimes,1000);

  function getTimes(){
  if (Countdown<=1)
  {
    btnObj.setAttribute("class","btn");
    btnObj.innerHTML="重新发送";
    Countdown = 6;
    clearInterval(Timer);
    return;
  }

  Countdown -= 1;
  btnObj.innerHTML = "已发送(" + Countdown + '秒)';
  }
}


$(document).ready(function(){

  var CountBtn = document.getElementById("resend-reset-btn");
  timerTrigger(CountBtn);

  $("#resend-reset-btn").click(function(){
    $.post("/user/create_code",
    {
      number: phonenumber,
      isregister: 1
    },
    function(data,status){
    //alert(data);
    timerTrigger(CountBtn);
   })
  });

  $("#subtn").click(function(){
    var formid="edit_user_"+userid;
    var verify_code=$("#mobile_verification_code").val();
    if (verify_code=="")
    {
      alert("请填入验证码!");
      return;
    }

    $.post("/user/code_verification",
    {
      number: phonenumber,
      code: verify_code
    },
    function(data,status){
      alert(data);
      if(data!="verify_pass")
      {
        alert("验证码不正确!");
      }
      else
      {
        //alert("验证成功!");
        $("#"+formid).submit();
      }
    });

  });

});
</script>

