
  <div class="header-wrp header-text">
    <a href="/users/sign_in" class="header-wrp-left"><i class="material-icons left" id='header-wrp-icon'>&#xE5CB;</i>返回</a>
    重设密码
    <h class="header-wrp-right"></h>
  </div>



<p id="notice"><%= notice %></p>
<br><br>
<div class="text-center">
<p>
 我们已经将验证码发送到您的手机：
</p>
<h4>
  <%=params[:number]%>
</h4>
</div>



<div class="hrline1">
</div>

<div class="horiz-strap register-strap">
  <div class="register-field-right">
    <a class="btn" id="resend-reset-btn">重新发送</a>
  </div>
  <div class="register-field-left">
    验证码
  </div>
  <div class="register-field-input-center">
     <input placeholder="请输入验证码" type="text"  id="mobile_verification_code" autofocus="autofocus">
  </div>
</div>

<div class="hrline1">
</div>

<!--a class="btn" id="resendbtn">重新发送</a--><br>
<br>

<% @user=User.find_by(phone: params[:number])%>
<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
<%=hidden_field_tag :userid, @user.id %>

  <div class="hrline1">
  </div>

    <div class="horiz-strap register-strap">
      <div class="register-field-left">
          新密码
      </div>
      <div class="register-field-input">
        <input placeholder="请输入新密码" autocomplete="off" type="password" name="user[password]" id="user_password">
      </div>
    </div>

  <div class="hrline1">
  </div>

    <div class="horiz-strap register-strap">
      <div class="register-field-left">
          确认密码
      </div>
      <div class="register-field-input">
        <input placeholder="请确认新密码" type="password" name="user[password_confirmation]" id="user_password_confirmation">
      </div>
    </div>
  <div class="hrline1">
  </div>

<br>
<div class="row center">
  <a class="btn waves-effect waves-light btn-mobile" id="subtn">重设密码</a><br>
</div>


<% end %>


<%= javascript_tag do %>
  var phonenumber = '<%= params[:number] %>';
  var userid= '<%= @user.id %>'
<% end %>

<script>

function timerTrigger(btnObj){
    btnObj.setAttribute("class","btn disabled");
  var Countdown = 6;
  btnObj.innerHTML = "已发送(" + Countdown + '秒)';
  var Timer = setInterval(getTimes,1000);

  function getTimes(){
  if (Countdown<=1)
  {
    btnObj.setAttribute("class","btn");
    btnObj.innerHTML="重新发送";
    Countdown = 6;
    clearInterval(Timer);
    return;
  }

  Countdown -= 1;
  btnObj.innerHTML = "已发送(" + Countdown + '秒)';
  }
}


$(document).ready(function(){

  var CountBtn = document.getElementById("resend-reset-btn");
  timerTrigger(CountBtn);

  $("#resend-reset-btn").click(function(){
    $.post("/user/create_code",
    {
      number: phonenumber,
      isregister: 1
    },
    function(data,status){
    //alert(data);
    timerTrigger(CountBtn);
   })
  });

  $("#subtn").click(function(){
    var formid="edit_user_"+userid;
    var verify_code=$("#mobile_verification_code").val();
    if (verify_code=="")
    {
      alert("请填入验证码!");
      return;
    }

    $.post("/user/code_verification",
    {
      number: phonenumber,
      code: verify_code
    },
    function(data,status){
      //alert(data);
      if(data!="verify_pass")
      {
        alert("验证码不正确!");
      }
      else
      {
        alert("验证通过!");
        $("#"+formid).submit();
      }
    });

  });

});
</script>
