<div class="container">
<p id="notice"><% notice %></p>

<p>
  <strong>系统已经将验证码发送到您的手机：</strong>
  <%=params[:phone]%>
</p>

<h5>请输入您收到的验证码:</h5>
<input type="text" id="mobile_verification_code" autofocus="autofocus" />

<a class="btn" id="resend-verify-btn">重新发送</a>
<a class="btn" id="regbtn">下一步</a><br>

</div>

<%= javascript_tag do %>
  var phonenumber = '<%= params[:phone] %>';
<% end %>

<script>
function timerTrigger(btnObj){
    btnObj.setAttribute("class","btn disabled");
  var Countdown = 6;
  btnObj.innerHTML = "已发送(" + Countdown + '秒)';
  var Timer = setInterval(getTimes,1000);

  function getTimes(){
  if (Countdown<=1)
  {
    btnObj.setAttribute("class","btn");
    btnObj.innerHTML="重新发送";
    Countdown = 6;
    clearInterval(Timer);
    return;
  }

  Countdown -= 1;
  btnObj.innerHTML = "已发送(" + Countdown + '秒)';
  }
}


$(document).ready(function(){
  var CountBtn = document.getElementById("resend-verify-btn");
  timerTrigger(CountBtn);

  $("#resend-verify-btn").click(function(){
    $.post("/user/create_code",
    {
      number: phonenumber,
      isregister: 1
    },
    function(data,status){
    //alert(data);
    timerTrigger(CountBtn);
   })
  });

  $("#regbtn").click(function(){
    //var input_number=$("#user_phone").val();
    var verification_code=$("#mobile_verification_code").val();
    if (verification_code=="")
    {
      alert("请填入验证码!");
    }

  
    $.post("/user/code_verification",
    {
      number: phonenumber,
      code: verification_code
    },
    function(data,status){
      //alert("数据：" + data + "\n状态：" + status);
      alert(data);

      if(data!="verify_pass")
      {
        alert("验证码不正确!");
        //location.href="/users/sign_in";
      }
      else
      {
        //alert("该号码存在ookk");
        //$("#new_user").submit();
        location.href="/home";
      }
    });
});
  
});
</script>
