<%= form_for(@useragenda) do |f| %>
  <% if @useragenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@useragenda.errors.count, "error") %> prohibited this useragenda from being saved:</h2>

      <ul>
      <% @useragenda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :agenda_id %><br>
    <%= f.number_field :agenda_id %>
  </div>
  <div class="field">
    <%= f.label :agendaFlag %><br>
    <%= f.number_field :agendaFlag %>
  </div>
  <div class="field">
    <%= f.label :sponsorFlag %><br>
    <%= f.number_field :sponsorFlag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
