<p id="notice"><%= notice %></p>

<h1>Listing Useragendas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Agenda</th>
      <th>Agendaflag</th>
      <th>Sponsorflag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @useragendas.each do |useragenda| %>
      <tr>
        <td><%= useragenda.user_id %></td>
        <td><%= useragenda.agenda_id %></td>
        <td><%= useragenda.agendaFlag %></td>
        <td><%= useragenda.sponsorFlag %></td>
        <td><%= link_to 'Show', useragenda %></td>
        <td><%= link_to 'Edit', edit_useragenda_path(useragenda) %></td>
        <td><%= link_to 'Destroy', useragenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Useragenda', new_useragenda_path %>
