<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @useragenda.user_id %>
</p>

<p>
  <strong>Agenda:</strong>
  <%= @useragenda.agenda_id %>
</p>

<p>
  <strong>Agendaflag:</strong>
  <%= @useragenda.agendaFlag %>
</p>

<p>
  <strong>Sponsorflag:</strong>
  <%= @useragenda.sponsorFlag %>
</p>

<%= link_to 'Edit', edit_useragenda_path(@useragenda) %> |
<%= link_to 'Back', useragendas_path %>
