<% @sponsor=User.find(@agenda.sponsor_id) %>
<% @zone=Zone.find(@agenda.zone_id)%>
<% @category=Category.find(@agenda.category_id)%>
<% @t=@agenda.time %>
<% @time=@t.strftime("%H")+":"+@t.strftime("%M")+":"+@t.strftime("%S") %>
<% @agendammt = @agenda.datatime.to_s+ " " + @time %>
<% @day_delta = ((Time.parse(@agendammt)-(Time.now.at_beginning_of_day+60*60*24))/(60*60*24)) %>
<a href=<%=agenda_path(@agenda.id)%>>
<div class="msgblock z-depth-2">
  <div class="msgblock-up">
    <div class="msgblock-up-left">
      <div id="msgblock-icon">
        <img class="radius-icon" src='<%=@sponsor.icon.thumb.url%>'>
      </div>
    </div>
    <div class="msgblock-up-right">
      <div id="msgblock-up-right-up">
        <h id="agdblock-name">
          <%= @sponsor.name%>
        </h>
        <%if @sponsor.gender!=nil %>
          <% if @sponsor.gender.name == '男' %>
          <!--% if 1 %-->
            <h id="agdblock-userinfo-male">
              <h id='male-icon'>♂</h>
              <h id="age">
                <%if @sponsor.birth!=nil%>
                  <%= Time.now.year-@sponsor.birth.year %>
                <%end%>
              </h>
            </h>
          <% else %>
            <h id="agdblock-userinfo-female">
              <h id='female-icon'>♀</h>
              <h id="age">
                <%if @sponsor.birth!=nil%>
                  <%= Time.now.year-@sponsor.birth.year %>
                <%end%>
              </h>
            </h>
          <% end %>
        <% end %>
        <!--%= @sponsor.age.name %-->
   
        <div class="block-float-right">
          <div class="chip block-chip">
            <%= @zone.name %>
          </div>
          <div class="chip block-chip">
            <%= @category.name %>
          </div>
        </div>
      </div>
      
      <div class="words-trancated" id="msgblock-up-right-down">
      <i class="material-icons left" id="agdblock-icon-flag">&#xE153;</i>
      <div class="block-words" id="agdblock-agdname">
        <%= @agenda.name %>
      </div>
      </div>
    </div>
  </div>

  <div class="msgblock-down">
    <% if @agenda.isoverdue==1%>
      <div class="block-words">
        <i class="material-icons left" id="agdblock-icon-overdue">&#xE857;</i>
        <div id="agdblock-time">
          已过期
        <div class="block-float-right" id=<%="create-time-#{@itemid}-#{@agenda.id}"%>>
          1天前
        </div>
        </div>
      </div>
    <% else %>
      <div class="block-words">
        <i class="material-icons left" id="agdblock-icon-time">&#xE8B5;</i>
          <div id="agdblock-time">
          <% if @day_delta<0 %>
            今天
          <% elsif @day_delta>=0 && @day_delta<1 %>
            明天
          <% elsif @day_delta>=1 && @day_delta<2%>
            后天
          <% else %>
            三天后
          <% end %>
          <%=@t.strftime("%H")+":"+@t.strftime("%M")%>
          <div class="block-float-right" id=<%="create-time-#{@itemid}-#{@agenda.id}"%>>
            1天前
          </div>
          </div>
      </div>
    <% end %>
      <i class="material-icons left" id="agdblock-icon-address">&#xE0C8;</i>
      <div class="block-words" id="agdblock-address">
        <%= @agenda.address %>
      </div>
  </div>
</div>
</a>

<%= javascript_tag do %>
  var createtime = '<%= @agenda.created_at %>';
  var agdid= '<%= @agenda.id %>'
  var itemid= '<%= @itemid%>'
<% end %>

<script type="text/javascript">
  moment.locale('zh-cn');
  var crtime = moment(createtime, "YYYY-MM-DD HH:mm"); 
  var create_time = document.getElementById("create-time-"+itemid+"-"+agdid);
  create_time.innerHTML=crtime.fromNow();
</script>