<% @images = @agenda.images%>
<% @image = @images.first%>
<% @t=@agenda.time %>
<% @agendammt= @agenda.datatime.to_s+ " " +@t.strftime("%H")+":"+@t.strftime("%M")+":"+@t.strftime("%S") %>
<% @sponsor = User.find(@agenda.sponsor_id) %>
<% @zone = Zone.find(@agenda.zone_id)%>
<% @category = Category.find(@agenda.category_id)%>
<div class="col s6 m4 l3" id="card-container">
  <div class="card hoverable">
    <div class="card-image">
      <% if @image!=nil %>
        <%= link_to image_tag(@image.image.thumb.url), @agenda %>
      <% end %>
    </div>
    <div class="card-content" id="agenda-description" align="center">
      <a href=<%=zone_agendas_path(@zone.id)%>>
        <div class="chip">
          <%= @zone.name %>
        </div>
      </a>
      <a href=<%=category_agendas_path(@category.id)%>>
        <div class="chip">
          <%= @category.name %>
        </div>
      </a>
      <div class="words-trancated">
        <i class="material-icons">mood</i>
        <span>
          <%= link_to("#{@sponsor.name}","/agendas/users/#{@agenda.sponsor_id}")%>邀请你<%= @agenda.name%>
        </span>
      </div>
      <div class="words-trancated">
        <i class="material-icons">description</i>
        <span>
          <%= @agenda.description %>
        </span>
      </div>
      <div class="block-words">
        <i class="material-icons">schedule</i>
        <span id=<%="agd-time-#{@itemid}-#{@agenda.id}"%>>
        </span>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  var agendammt = '<%= @agendammt %>';
  var agdid= '<%= @agenda.id %>'
  var itemid= '<%= @itemid%>'
<% end %>

<script type="text/javascript">
  moment.locale('zh-cn');
  var agdmmt = moment(agendammt, "YYYY-MM-DD HH:mm"); 
  var agendatime = document.getElementById("agd-time-"+itemid+"-"+agdid);
  agendatime.innerHTML=agdmmt.fromNow();
</script>