<%= form_for(@agenda, :html => { :multipart => true }) do |f| %>
  <% if @agenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>

      <ul>
      <% @agenda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col s6">
      <%= f.label :name, '活动名称' %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field col s6">
      <%= f.label :userlimit, '人数限制' %><br>
      <%= f.number_field :userlimit, :min=>1, :max=>100, :placeholder=>'请选择人数限制' %>
    </div>
  </div>

  <div class="row">
    <div class="field col s6">
      <%= f.label :category_id, '分类' %><br>
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "选择类别"}, {class: "dropdown-toggle"} %>
    </div>
    <div class="field col s6">
      <%= f.label :zone_id, '区域' %><br>
      <%= f.collection_select :zone_id, Zone.all, :id, :name, {prompt: "选择区域"}, {class: "dropdown-toggle"} %>
    </div>
  </div>

  <% if mobile_device? %>
    <div class="row">
      <div class="field col s6">
        <%= f.label :datatime, '日期：' %><br>
        <%= f.date_field :datatime %>
      </div>
      <div class="field col s6">
        <%= f.label :time, '时间' %><br>
        <%= f.time_field :time %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="field col s6">
        <%= f.label :datatime, '日期：' %><br>
        <%= f.date_field :datatime, {class: "datepicker"} %>
      </div>
      <div class="field col s6" id="agenda_time">
        <%= f.label :time, '时间' %><br>
        <%= f.time_select :time, {minute_step: 15, ampm: true, prompt: {hour: '小时', minute: '分钟'}, time_separator: ''}, {} %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cost_id, '费用方式' %><br>
    <%= f.collection_select :cost_id, Cost.all, :id, :name, {prompt: "选择费用方式"}, {class: "dropdown-toggle"} %>
  </div>

  <div class="field">
    <%= f.label :description, '活动描述' %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :address, '详细地址' %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <% if @agenda.new_record?%> 
      <%= f.label :image, '图片 (若保留为空，将默认使用您的头像)', class: "waves-effect waves-light btn" %><br><br>
    <% else %>
      <%= f.label :image, '若需修改封面图片请重新选择：', class: "waves-effect waves-light btn" %>
      <% if @agenda.images.first!=nil %>
        <%= image_tag @agenda.images.first.image.thumb.url, size: "50" %><br />
      <% end %>
    <% end %>

    <%= file_field_tag "images[]", type: :file, multiple: true, 'data-multiple-caption'=>'选中{count}个文件' %>
  </div>

  </br>
  </br>
  
  <div class="row center">
    <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action">
      <% if @agenda.new_record?%>    
        发布
      <% else %>    
        更新
      <% end %>
    </button>
  </div>

<% end %>
