<%= form_for(@agenda, :html => { :multipart => true }) do |f| %>
  <div class="header-wrp header-text">
    <a href="/" class="header-wrp-left"><i class="material-icons left" id='header-wrp-icon'>&#xE5CB;</i>取消</a>
    <% if @agenda.new_record?%>    
      发布邀约
    <% else %>    
      更新邀约
    <% end %>
    <h class="header-wrp-right" id="sub-btn">
      <!--button type="submit" name="action" id="agenda-form-btn">
        <% if @agenda.new_record?%>    
          发布
        <% else %>    
          更新
        <% end %>
      </button-->
    </h>
  </div>

<br><br>

<div class="container" id="newagenda-container">

<!--%= form_for(@agenda, :html => { :multipart => true }) do |f| %-->
  <% if @agenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>

      <ul>
      <% @agenda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="hrline1">
  </div>

    
  <% if @agenda.new_record?%>
    <textarea placeholder="活动名称" name="agenda[name]" id="agenda_name"></textarea>
  <% else %>
    <textarea name="agenda[name]" id="agenda_name"><%=@agenda.name%></textarea>
  <% end %>


  <div class="hrline1">
  </div>

  <% if @agenda.new_record?%>    
    <textarea placeholder="活动描述" name="agenda[description]" id="agenda_description"></textarea>
  <% else %>    
    <textarea name="agenda[description]" id="agenda_description"><%=@agenda.description%>
    </textarea>
  <% end %>

  <div class="hrline1">
  </div>


      <!--div class="horiz-strap" id="horiz-strap-newagenda-category">
        <%= f.label :datatime, '日期：' %><br>
        <%= f.date_field :datatime %>
      </div-->

    <div class="horiz-select-strap userinfo-strap form-item item-line" id="showCategory">
      <div class="strap-select-left">
        <div class="strap-select-word">
          日期:
        </div>
      </div>
      <div class="pc-box strap-select-mid">
        <input type="date" class="browser-default select-input" name="agenda[datatime]" value="<%=@agenda.datatime%>" id="agenda_datatime">
      </div>
    </div>

  <div class="hrline1">
  </div>
      <!--div class="horiz-strap" id="horiz-strap-newagenda-category">
        <%= f.label :time, '时间' %><br>
        <%= f.time_field :time %>
      </div-->

  
    <div class="horiz-select-strap userinfo-strap form-item item-line" id="showCategory">
      <div class="strap-select-left">
        <div class="strap-select-word">
          时间:
        </div>
      </div>
      <div class="pc-box strap-select-mid">
        <% if @agenda.new_record?%> 
          <input type="time" name="agenda[time]" id="agenda_time">
        <% else %>
        <input type="time" class="browser-default select-input" name="agenda[time]" value="<%= @agenda.time.strftime("%H:%M:%S.000"); %>" id="agenda_time">
        <% end %>
      </div>
    </div>


  <div class="hrline1">
  </div>

    <div class="horiz-select-strap userinfo-strap form-item item-line">
      <div class="strap-select-left">
        <div class="strap-select-word">
          地址:
        </div>
      </div>

    <a href="/setloc">

      <div class="pc-box strap-select-mid">
          <input type="text" placeholder="请选择地址" name="agenda[address]" id="agenda_address">
      </div>
    </a>
    </div>
  <div>

</div>

</div>

  <div class="hrline3">
  </div>

    <div class="horiz-select-strap userinfo-strap form-item item-line">
      <div class="strap-select-left">
        <div class="strap-select-word">
          封面:
        </div>
      </div>
      <div class="box">
        <div class="pc-box filebox">
           <input type="file" class="uploader-input" name="images[]" id="images_" onchange="preview(this)" /> 
        </div>
        <p class="filetext">若需修改请重新选择</p>
        
      </div>
    </div>


  <div id="prebiew-container">
    <div id="preview">
      <% if current_user.icon!=nil %>
        <img src='<%=current_user.icon.url%>'>
        <!--%= image_tag @agenda.images.first.image.thumb.url %-->
      <% end %>
    </div>
  </div>

 



  <!--input type="file" name="images[]" id="images_"-->
</div>

  <div class="hrline3">
  </div>

<div class="container" id="newagenda-container">

  <div class="hrline1">
  </div>

    <div class="horiz-select-strap userinfo-strap form-item item-line">
      <div class="strap-select-left">
        <div class="strap-select-word">
          人数:
        </div>
      </div>
      <div class="pc-box strap-select-mid">
        <select class="browser-default" name="agenda[userlimit]" id="agenda_userlimit">
          <option disabled selected="4">请选择人数</option>
          <option value="1">1</option><option value="2">2</option><option value="3">3</option>
          <option value="4">4</option><option value="5">5</option><option value="6">6</option>
          <option value="7">7</option><option value="8">8</option><option value="9">9</option>
          <option value="10">10</option><option value="11">11</option><option value="12">12</option>
          <option value="13">13</option><option value="14">14</option><option value="15">15</option>
          <option value="16">16</option><option value="17">17</option><option value="18">18</option>
          <option value="19">19</option><option value="20">20</option><option value="21">21</option>
          <option value="22">22</option><option value="23">23</option><option value="24">24</option>
          <option value="25">25</option><option value="26">26</option><option value="27">27</option>
          <option value="28">28</option><option value="29">29</option><option value="30">30</option>
          <option value="31">31</option><option value="32">32</option><option value="33">33</option>
          <option value="34">34</option><option value="35">35</option><option value="36">36</option>
          <option value="37">37</option><option value="38">38</option><option value="39">39</option>
          <option value="40">40</option><option value="41">41</option><option value="42">42</option>
          <option value="43">43</option><option value="44">44</option><option value="45">45</option>
          <option value="46">46</option><option value="47">47</option><option value="48">48</option>
          <option value="49">49</option><option value="50">50</option>
      </select>
      </div>
    </div>



  <div class="hrline1">
  </div>
    <div class="horiz-select-strap userinfo-strap form-item item-line">
      <div class="strap-select-left">
        <div class="strap-select-word">
          类别:
        </div>
      </div>

      <div class="pc-box strap-select-mid">
        <select class="browser-default" name="agenda[category_id]" id="agenda_category_id">
          <option disabled selected="">请选择类别</option>
          <option value="1">运动</option>
          <option value="2">娱乐</option>
          <option value="3">饭局</option>
          <option value="4">旅游</option>
        </select>
      </div>
    </div>

  <div class="hrline1">
  </div>

    <div class="horiz-select-strap userinfo-strap form-item item-line">
      <div class="strap-select-left">
        <div class="strap-select-word">
          区域:
        </div>
      </div>
      <div class="pc-box strap-select-mid">
        <select class="browser-default" name="agenda[zone_id]" id="agenda_zone_id"><option disabled selected="">选择区域</option>
          <option value="1">静安</option>
          <option value="2">徐汇</option>
          <option value="3">黄浦</option>
          <option value="4">杨浦</option>
          <option value="5">普陀</option>
          <option value="6">浦东</option>
          <option value="7">宝山</option>
          <option value="8">虹口</option>
          <option value="9">闵行</option>
          <option value="10">松江</option>
          <option value="11">青浦</option>
          <option value="12">奉贤</option>
        </select>
      </div>
    </div>

  <div class="hrline1">
  </div>

    <div class="horiz-select-strap userinfo-strap form-item item-line">
      <div class="strap-select-left">
        <div class="strap-select-word">
          费用:
        </div>
      </div>
      <div class="pc-box strap-select-mid">
        <select class="browser-default" name="agenda[cost_id]" id="agenda_cost_id">
          <option disabled selected="">选择费用方式</option>
          <option value="1">无费用</option>
          <option value="2">AA</option>
          <option value="3">发布人请客</option>
          <option value="4">应约人请客</option>
        </select>
      </div>
    </div>



  <div class="hrline1">
  </div>


  <% if @agenda.new_record?%>
    <input value="" type="hidden" name="agenda[lng]" id="agenda_lng">
    <input value="" type="hidden" name="agenda[lat]" id="agenda_lat">
  <% else %>
    <input value="<%=@agenda.lng%>" type="hidden" name="agenda[lng]" id="agenda_lng">
    <input value="<%=@agenda.lat%>" type="hidden" name="agenda[lat]" id="agenda_lat">
  <% end %>

  </br>
  </br>
  
  <!--div class="row center">
    <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action" id="sub-btn">
      <% if @agenda.new_record?%>    
        发布
      <% else %>    
        更新
      <% end %>
    </button>
  </div-->

<div class="fixed-action-btn">


  <button class="btn-floating btn-large" type="button" id="agenda-form-btn">
        <% if @agenda.new_record?%>    
          发布
        <% else %>    
          更新
        <% end %>
  </button>
</div>
        

<% end %>


</div>

 
  <%= javascript_tag do %>
    var isnewrecord = '<%= @agenda.new_record? %>';
    var agdId = '<%= @agenda.id %>';
    var catId = '<%= @agenda.category_id %>';
    var zoId = '<%= @agenda.zone_id %>';
    var coId = '<%= @agenda.cost_id %>';
    var usernum  = '<%= @agenda.userlimit %>';
  <% end %>


<script type="text/javascript">


if(isnewrecord=="false"){
  document.getElementById("agenda_category_id")[catId].selected=true;
  document.getElementById("agenda_zone_id")[zoId].selected=true;
  document.getElementById("agenda_cost_id")[coId].selected=true;
  document.getElementById("agenda_userlimit")[usernum].selected=true;
}


function getCookie(){
  var strCookie=document.cookie;
  var arrCookie=strCookie.split("; ");
  var locName,locAddr,locLngLat,locLng,locLat;
  //遍历cookie数组，处理每个cookie对
  for(var i=0;i<arrCookie.length;i++){
    var arr=arrCookie[i].split("=");
    //找到名称为locName,locAddr,locLngLat
    if("locName"==arr[0])
    {
      locName=decodeURIComponent(arr[1]);
      //break;
    }
    if("locAddr"==arr[0])
    {
      locAddr=decodeURIComponent(arr[1]);
      //break;
    }
    if("locLngLat"==arr[0])
    {
      locLngLat=arr[1];
      //break;
    }
  }

  var arrLngLat=locLngLat.split(",");
  locLng=arrLngLat[0];
  locLat=arrLngLat[1];

  document.getElementById("agenda_lng").value = locLng;
  document.getElementById("agenda_lat").value = locLat;
  
  //document.getElementById("agenda_address").value=locName+':'+locAddr+' '+locLng+' '+locLat;
  document.getElementById("agenda_address").value=locName+':'+locAddr;
}

window.onpageshow = function(event) {
if(isnewrecord=="true")
{
  getCookie();

  //retun from Amap
  //alert("使用刚编辑的图片");
  if(sessionStorage.getItem("imgsource"))
  {
    //alert("恢复成功");
    var prevDiv = document.getElementById('preview');  
    var imgpath =  sessionStorage.getItem("imgsource");
    prevDiv.innerHTML = imgpath;
  }


  if(sessionStorage.getItem("userlimit")!="null"){
    document.getElementById("agenda_userlimit")[sessionStorage.getItem("userlimit")].selected=true;
  }

  if(sessionStorage.getItem("category_id")!="null"){
    document.getElementById("agenda_category_id")[sessionStorage.getItem("category_id")].selected=true;
  }
  if(sessionStorage.getItem("zone_id")!="null"){
    document.getElementById("agenda_zone_id")[sessionStorage.getItem("zone_id")].selected=true;
  }
  if(sessionStorage.getItem("cost_id")!="null"){
    document.getElementById("agenda_cost_id")[sessionStorage.getItem("cost_id")].selected=true;
  }
  
}

};

function preview(file)  
{   
    //alert("preview");
    var prevDiv = document.getElementById('preview');  

    if (file.files && file.files[0])  
    {  
      var reader = new FileReader();  
      reader.onload = function(evt)
      {  
        prevDiv.innerHTML = '<img src="' + evt.target.result + '" />';
        //sessionStorage.setItem("imgsource", prevDiv.innerHTML);
          if (sessionStorage.getItem("imgsource"))
          {
            //alert("delet");
            sessionStorage.removeItem("imgsource");
          }
          sessionStorage.setItem("imgsource", prevDiv.innerHTML);

        //alert("setpath");
      }
      reader.readAsDataURL(file.files[0]);  
      //alert("previewfileexise");
    }  
    else    
    {  
      prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';  
    }
}  

$("#agenda_address").click(function(){
  //document.cookie="located=false";
  sessionStorage.setItem("located", false);
  sessionStorage.setItem("userlimit", $("#agenda_userlimit").val());
  sessionStorage.setItem("category_id", $("#agenda_category_id").val());
  sessionStorage.setItem("zone_id", $("#agenda_zone_id").val());
  sessionStorage.setItem("cost_id", $("#agenda_cost_id").val());
});
$("#agenda-form-btn").click(function(){
  var input_agenda_name=$("#agenda_name").val();
  var input_agenda_description=$("#agenda_description").val();
  var input_agenda_datatime=$("#agenda_datatime").val();
  var input_agenda_time=$("#agenda_time").val();
  var input_agenda_address=$("#agenda_address").val();
  var input_agenda_userlimit=$("#agenda_userlimit").val();
  var input_agenda_category_id=$("#agenda_category_id").val();
  var input_agenda_zone_id=$("#agenda_zone_id").val();
  var input_agenda_cost_id=$("#agenda_cost_id").val();

  if( input_agenda_name=="" ||
      input_agenda_description=="" ||
      input_agenda_datatime=="" ||
      input_agenda_time=="" ||
      input_agenda_address==null ||
      input_agenda_userlimit==null ||
      input_agenda_category_id==null ||
      input_agenda_zone_id==null ||
      input_agenda_cost_id==null){
      alert("信息不完整，请填写完整资料！");
      return;
  }

  $("#new_agenda").submit();
});

</script>