<h1>编辑邀约</h1>

<%= render 'form' %>

<%= link_to '显示', @agenda %> |
<%= link_to '返回', agendas_path %>

<script type="text/javascript">
  $( "label[for='agenda_image']" ).click(function() {
    $( "#images_" ).click();
  });
  changeUploadButton($('#images_'));
</script>
