<% if flash[:notice] %>
  <!--ignore the notice for user sign in, sign out-->
  <% notice %>
<% end %>

<% if !mobile_device? %>
<div class="container hide-on-small-and-down" id="container-slider">
  <div class="slider" id="img-slider">
    <i class="large material-icons left" id="skipicon-left">&#xE045;</i>
    <i class="large material-icons right" id="skipicon-right">&#xE044;</i>
      <ul class="slides" id="img-slider-ul">
        <li>
          <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <h3>工作，娱乐，一个都不能少！</h3>
            <h5 class="light grey-text text-lighten-3">快来发布你的活动</h5>
          </div>
        </li>
        <li>
          <img src="http://7xkhqe.com1.z0.glb.clouddn.com/Desert.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>跟上互联网➕的脚步</h3>
            <h5 class="light grey-text text-lighten-3">时间永远不会等你</h5>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
          <div class="caption right-align">
            <h3>让世界听到你的声音</h3>
            <h5 class="light grey-text text-lighten-3">只有与时俱进，才能把握未来</h5>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
          <div class="caption center-align">
            <h3>一个好汉三个帮</h3>
            <h5 class="light grey-text text-lighten-3">你的团队需要注入新动力</h5>
          </div>
        </li>
      </ul>
  </div>
  </br>
</div>

</br>

<div class="container">
    <form id="searchform" name="searchform" method="get" action="/agendas">
      <div class="fieldcontainer">
        <input type="text"  name="query" id="s2" class="searchfieldjs" placeholder="请输入您感兴趣的活动、地点...." tabindex="2">
        </div>
        <div class="row center">
        <input type="submit" id="searchbtn" class="waves-effect waves-light btn" value="即客搜索">
        </div>
    </form>
</div>
<% end %>

<% if mobile_device? %>
<div class="header-wrp">
  <div id="search-wrp-right"> 
  </div>
  <div id="search-wrp-left">
    上海
  </div>
  <div id="search-field">
    <form name="searchform1" method="get" action="/courses">
      <input type="text" style="border-radius:10px;" name="query" id="s1" class="searchfieldjs" placeholder="搜索邀约..." tabindex="2">
      <!--input type="submit"  id="searchbtn1" value=""-->
      <button type="submit" id="searchbtn1">
        <i class="material-icons left" id="searicon">&#xE8B6;</i>
      </button>
    </form>
  </div>
</div>
<br>
<% end %>

<div class="row" id="agenda-tabs">

<% if mobile_device? %>
  <ul class="tabs" id="tabs-fixed">
<% else %>
  <ul class="tabs">
<% end %>
    <li class="tab col s2"><a class="active" href="#item0">最新</a></li>
    <li class="tab col s2"><a href="#item1">运动</a></li>
    <li class="tab col s2"><a href="#item2">娱乐</a></li>
    <li class="tab col s2"><a href="#item3">饭局</a></li>
    <li class="tab col s2"><a href="#item4">旅游</a></li>
    <li class="tab col s2"><a href="#item5">推荐</a></li>
  </ul>

  <% if mobile_device? %>
    <br>
    <br>
    <br>
  <% else%>
  <% end %>

  <div id="item0" class="col s12">
    <% @agendas_item = @agendas %>
    <% if @agendas_item.blank?%>
    <% else %>
        <% @agendas_item.each do |agenda| %>
          <% @agenda=agenda %>
          <% @itemid=0%>
            <% if mobile_device? %>
              <%= render 'agdblock'%>
              <br>
            <% else%>
              <%= render 'agdcard'%>
            <% end %>
        <% end %>
    <% end %>
  </div>

  <% @categories.each do |category| %>
    <div id=<%="item"+"#{category.id}"%> class="col s12">
      <% @agendas_item = Agenda.where(category_id: category.id).order(:isoverdue, :datatime)%>
        <% if @agendas_item.blank?%>
        <% else %>
          <% @agendas_item.each do |agenda| %>
            <% @agenda=agenda %>
            <% @itemid=category.id%>
            <%= render 'agdcard'%>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate @agendas %>

<% if !mobile_device? %>
<div class="container">
  <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">&#xE3E7;</i></h2>
          <h5 class="center">即客</h5>
            <p class="light">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我们是几位充满活力和热情的极客。通过持续的创意与协作，我们致力于营造一个高效便捷的邀约空间，帮助你发起或参与真正属于自己的活动，迅速找到自己的最佳小伙伴，扩大你的交往圈子，从根本上提升你的事业发展和生活品质。同时，我们期待能独当一面，有拼搏精神的朋友加入即客。</p>
          </div>
        </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">&#xE7EF;</i></h2>
          <h5 class="center">如何使用即客</h5>
          <p class="light">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp你可以使用即客发布个性化的邀约，并选择受邀者，也可以加入自己感兴趣的活动。请使用真实的信息注册和发布。请提供有关个人职业背景，学历，活动性质，地点，费用安排……方面的信息，以便大家做出客观明智的判断，真实全面的信息往往会吸引高素质的朋友回应。当接受邀约时，请注意核实发布者提供的相关信息。如发现有人使用不实信息，请立即向我们反馈。</p>
          </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">&#xE8B8;</i></h2>
          <h5 class="center">即客欢迎你!</h5>
           <p class="light">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp如果你选择使用即客，请遵守国家相关法规，不得骚扰其他用户。我们会努力将各种托及中介行为排除在外。我们将不断完善产品和使用规则，对于违规行为，我们将保留一切进行处理的相关权利。各位真诚的朋友，即客欢迎你的到来。祝你用得开心，找到所想！</p>
          </div>
        </div>
      </div>
  </div>

<% end %>

<% if !mobile_device? %>
<script type="text/javascript">
document.getElementById('skipicon-right').onclick=function(){
    $('.slider').slider('next');
  }

document.getElementById('skipicon-left').onclick=function(){
    $('.slider').slider('prev');
  }

document.getElementById("container-slider").onmouseover = function(){
    document.getElementById("skipicon-left").setAttribute('style', 'opacity:0.4');
    document.getElementById("skipicon-right").setAttribute('style', 'opacity:0.4');
}

document.getElementById("container-slider").onmouseleave = function(){
    document.getElementById("skipicon-left").setAttribute('style', 'opacity:0.1');
    document.getElementById("skipicon-right").setAttribute('style', 'opacity:0.1');
}
</script>
<% end %>
