<div class="container">
  <%= render 'form' %>
  <%= link_to '返回', agendas_path %>
</div>

<script type="text/javascript">
	$( "label[for='agenda_image']" ).click(function() {
	  $( "#images_" ).click();
	});

  changeUploadButton($('#images_'));
</script>
