<div class="container" id="show-container">

<% if flash[:notice] %>
<div style="text-align:center;clear:both" id="flash-info">
  <div class="Message Message--green">
    <div class="Message-icon">
      <i class="material-icons" id="flash-icon">done</i>
    </div>
    <div class="Message-body">
      <h4><%= notice %></h4>
      <p>您可在个人主页查看您的邀约！</p>
    </div>
    <button class="Message-close" class="close" id="flash-close"><i class="material-icons">close</i></button>
  </div>
</div>
<% end %>

<% if flash[:warning] %>
<div style="text-align:center;clear:both" id="flash-info">
  <div class="Message Message--red">
    <div class="Message-icon">
      <i class="large material-icons" id="flash-icon">error</i>
    </div>
    <div class="Message-body">
      <h4><%= warning %></h4>
    </div>
    <button class="Message-close" class="close" id="flash-close"><i class="material-icons">close</i></button>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col s12 m4">
    <div style="text-align:center;clear:both">
      <% @image_first=@agenda.images.first %>
      <div>
        <% if @image_first!=nil %>
          <img id="image-show" src='<%=@image_first.image.thumb.url%>'>
        <% end %>
      </div>
      
      <% @zone=Zone.find(@agenda.zone_id)%>
        <% @category=Category.find(@agenda.category_id)%>
          <a href=<%=zone_agendas_path(@zone.id)%>>
            <div class="chip">
              <%=  @zone.name %>
            </div>
          </a>
          <a href=<%=category_agendas_path(@category.id)%>>
            <div class="chip">
              <%=  @category.name %>
            </div>
          </a>
    </div>
  </div>

  <div class="col s12 m4">
    <div style="width:95%;margin-left:auto;margin-right:auto;">截止时间还剩：</div>
    <div id="clock">
      <span id="span-timing"></span>天<span id="span-timing"></span>小时<span id="span-timing"></span>分<span id="span-timing"></span>秒
    </div>

    <div id="agd-show-info">
      <p>
        <strong>名称:</strong>
          <%= @agenda.name %>
      </p>
      <p>
        <strong>描述:</strong>
        <%= @agenda.description %>
      </p>
      <p>
        <strong>地址:</strong>
        <%= @agenda.address %>
      </p>
      <p>
        <strong>坐标:</strong>
        <%if @agenda.lng != nil%>
          <%= @agenda.lng %>
        <% end %>
        <%if @agenda.lat != nil%>
          <%= @agenda.lat %>
        <% end %>
      </p>
      <p>
        <strong>时间:</strong>
        <!--= @agenda.datatime+" "+@agenda.time %-->
        <!--%= @agenda.datatime %-->
        <%= @agendammt %>
      </p>
      <p>
        <strong>人数:</strong>
        <%= @agenda.userlimit %>
      </p>
      <p>
        <strong>费用方式:</strong>
        <%= @agenda.cost.name %>
      </p>
      <p>
        <strong>发起人:</strong>
        <% @sponsor=User.find(@agenda.sponsor_id) %>
        <%= link_to("#{@sponsor.name}","users/#{@agenda.sponsor_id}")%>
      </p>
      <p>
        <strong>报名:</strong>
        <% @attendees = @agenda.users - [User.find(@agenda.sponsor_id)] %>
        <%= @attendees.count %>人:
        <% @attendees.each do |attendee| %>
          <%= image_tag(attendee.icon.thumb.url)%>
        <% end %>
      </p>
      <div class="row center">
        <% if user_signed_in? %>
          <% if @agenda.isoverdue==1 %>
            <a class="btn disabled" id="atdbtn">已过期</a>
          <% elsif @agenda.isfull==1 %>
            <a class="btn disabled" id="atdbtn">人数已满</a>
          <% else %>
            <% @useragend = Useragenda.find_by(user_id: current_user.id, agenda_id:@agenda.id) %>
              <% if @useragend==nil %>
                <a class="btn" id="atdbtn">我要报名</a>
              <% else %>  
                <% if current_user.id==@agenda.sponsor_id%>
                  <a class="btn disabled" id="atdbtn">您是组织者</a>
                <% else%>
                  <a class="btn disabled" id="atdbtn">您已报名</a>
                <% end %>
              <% end %> 
          <% end %>
        <% else %>
          <% if @agenda.isoverdue==1 %>
            <a class="btn disabled" id="atdbtn">已过期</a>
          <% elsif @agenda.isfull==1 %>
            <a class="btn disabled" id="atdbtn">人数已满</a>
          <% else %>
            <a class="btn" id="atdbtn">我要报名</a>
          <% end %>
        <% end %>
      </div>
    </div>  
  </div>

  <div class="col s12 m4">
  </div>

</div>

<div class="container" id="select-container">
<% if user_signed_in? %>
<% if current_user.id == @agenda.sponsor_id %>
  <% @useragendas_selected = Useragenda.where(agenda_id:@agenda.id, isselected:1) %>
    <h5>
      报名成功:
    </h5>
    <hr>
    <% @useragendas_selected.each do |attendee| %>
      <%= image_tag(User.find_by(id:attendee.user_id).icon.thumb.url)%>
    <% end %>

  <h5>
    请选择您希望的参与者:
  </h5>
  <hr>


<% @useragendas_notselected = Useragenda.where(agenda_id:@agenda.id, isselected:0) %>
<form action="/useragendas/select/<%=@agenda.id%>", method: "get")>


  <% @useragendas_notselected.each do |useragendas_notselected| %>

    <% @user_notselected = User.find_by(id:useragendas_notselected.user_id)%>

        <div id="float-unit">
          <div id="select-image">
            <%= image_tag(@user_notselected.icon.thumb.url)%>
          </div>

          <% if @agenda.isfull == 0 && @agenda.isoverdue == 0 %>
          <input type="checkbox" id="<%=@user_notselected.id%>" name="selected_ids[]" value="<%=@user_notselected.id%>" />
          <% else %>
            <input type="checkbox" id="<%=@user_notselected.id%>" disabled="disabled" />
          <% end %> 
          <label for="<%=@user_notselected.id%>" id="select-label"><%=@user_notselected.name%></label> 
        </div>
    <% end %>
<div style="clear:both"></div>
  <input type="submit" value="选中提交" />
</form>
<% end %>
<% end %>

<p>
  <h5>更多活动图片:</h5>
  <hr>
    <% @agenda.images.each do |image| %>
        <div class="image" id="float-unit">
          <img class="materialboxed" height="155" src='<%=image.image_url%>'>
          <% if user_signed_in? %>
          <% if current_user.id==@agenda.sponsor_id && @agenda.images.count>1 %>
          <div id="center-text">
            <%= link_to '删除', image, method: :delete, data: { confirm: '确定删除该图片吗？' } %>
          </div>
          <% end %>
          <% end %>
        </div>
    <% end %>
</p>


<div style="clear:both"></div>

<% if user_signed_in? %>
<% if current_user.id==@agenda.sponsor_id %>
<% @image = Image.new %>
<%= form_for(@image, :html => { :multipart => true }) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=hidden_field_tag :agenda_id, @agenda.id %> 
  <div class="field">
    <%= f.label :images, '图片' %><br>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
  </div>
  <div class="actions">
    <%= f.submit :上传图片 %>
  </div>
<% end %>
<% end %>
<% end %>


<h3>
   留言板:
</h3>

  <% @messages.each do |message| %>
      <hr>
        <div id="float-unit-user">
          <div id="usericon-div">
            <%= link_to image_tag(User.find(message.user_id).icon.thumb.url), "users/#{message.user_id}" %>
          </div>
        </div>
        <div id="float-unit-textbox">
          <%= link_to("#{User.find(message.user_id).name}","/agendas/users/#{message.user_id}")%>
          <span>

          </span>
          <div id="message-time">
            <%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </div>
          
          <%= message.comment%>
            <!--% if user_signed_in? && current_user.id==@agenda.sponsor_id %-->
            <% if user_signed_in? %>
              <div class="chip" id=<%="span-reply-#{message.id}"%> onclick="replyClick(this)">回复</div>
            <% end %>
            <br>

            <div id="replies">
              <% @reps=message.reps %>
              <% if @reps!=nil %>
                <% @reps.each do |rep| %>
                  <%= link_to("#{User.find(rep.user_id).name}","/agendas/users/#{rep.user_id}")%>
                  <% if rep.replyto_id != nil %>
                    回复
                    <%= link_to("#{User.find(rep.replyto_id).name}","/agendas/users/#{rep.replyto_id}")%>
                  <% else %>
                  <% end %>
                  :
                  <%= rep.comment %>
                  <% if user_signed_in? %>
                    <div class="chip" id=<%="span-rep-#{rep.id}"%> onclick="repClick(this)">回复</div>
                  <% end %>

                  <div id=<%="span-rep-#{rep.id}-div"%> style="display:none">
                    <% @newrep = Rep.new%>
                    <%= form_for([message, @newrep]) do |f| %>
                      <input type=hidden name=agenda_id value=<%=@agenda.id%> >
                      <input type=hidden name=replyto_id value=<%=rep.user_id%> >
                      <div class="field">
                        <%= f.label :comment, '您的回复' %>
                        <%= f.text_area :comment %>
                      </div>

                      <div class="row center">
                        <button type="submit" name="action">
                          回复
                        </button>
                        <button type="button" id=<%="span-rep-#{rep.id}-"%> onclick="cancelrep(this)">
                          取消
                        </button>
                      </div>
                    <% end %>
                  </div>
                  <br>
                <% end %>
              <% end %>
            </div>

          <div id=<%="span-reply-#{message.id}-div"%> style="display:none">
            <% @rep = Rep.new%>
              <%= form_for([message, @rep]) do |f| %>
         
              <input type=hidden name=agenda_id value=<%=@agenda.id%> >
              <div class="field">
                <%= f.label :comment, '您的回复' %>
                <%= f.text_area :comment %>
              </div>

              <div class="row center">
                <button type="submit" name="action">
                  回复
                </button>
                <button type="button" id=<%="span-reply-#{message.id}-"%> onclick="cancelreply(this)">
                  取消
                </button>
              </div>
            <% end %>
          </div>

        </div>
      <div style="clear:both"></div>
  <% end %>

  <% @message = Message.new%>
    <%= form_for([@agenda, @message]) do |f| %>

    <div class="field">
      <%= f.label :comment, '您的留言' %>
      <%= f.text_area :comment %>
    </div>

    <div class="row center">
      <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action">
        留言
      </button>
    </div>

  <% end %>

<%= link_to '编辑', edit_agenda_path(@agenda) %>
<%= link_to '返回', agendas_path %>
</div>

<%= javascript_tag do %>
  var agendammt = '<%= @agendammt %>';
  var agendaid = '<%= @agenda.id %>';
<% end %>
<script>

$(document).ready(function(){
  $("#atdbtn").click(function(){
    if (document.getElementById("atdbtn").innerHTML!="我要报名")
    {
      return;
    }
    $.post("attend/"+agendaid,
    {
      //name:"Donald Duck",
      //city:"Duckburg"
    },
    function(data,status){
      //alert("数据：" + data + "\n状态：" + status);
      alert("报名成功");
      document.getElementById("atdbtn").setAttribute("class","btn disabled");
      //document.getElementById("atdbtn").text="hu";
      document.getElementById("atdbtn").innerHTML="您已报名";
      $('#atdbtn').attr("disabled", true);  
    });
  });
});

window.onload = function ()
{
  var oClock = document.getElementById("clock");
  var aSpan = oClock.getElementsByTagName("span");

  var agdmmt = moment(agendammt, "YYYY-MM-DD HH:mm"); 

  var Timer = setInterval(getTimes,1000)

  function getTimes ()
  {
    var time_now=moment().format();

    if (agdmmt.diff(time_now)<=0)
    {
      //alert("已过期!");
      for (i=0; i<=3; i++)
        aSpan[i].innerHTML = 0;
      document.getElementById("atdbtn").setAttribute("class","btn disabled");
      document.getElementById("atdbtn").text="已过期";
      clearInterval(Timer);
      return;
    }

    var diffday = Math.floor(agdmmt.diff(time_now)/(1000*60*60*24));
    var diffhor = Math.floor(agdmmt.diff(time_now)/(1000*60*60))-diffday*24;
    var diffmin = Math.floor(agdmmt.diff(time_now)/(1000*60))-diffhor*60-diffday*24*60;
    var diffsec = Math.floor(agdmmt.diff(time_now)/(1000))-diffhor*60*60-diffmin*60-diffday*24*60*60;

    var aDate = [diffday, diffhor, diffmin, diffsec];
    for (var i in aDate) 
      aSpan[i].innerHTML = format(aDate[i]);
    function format(a)
    {
      return a.toString().replace(/^(\d)$/, "0$1")
    }
  }
}

function replyClick(obj){
  replydivID=obj.id+"-div";
  document.getElementById(replydivID).style.cssText = "display:block;";
}

function cancelreply(obj){
  replydivID=obj.id+"div";
  document.getElementById(replydivID).style.cssText = "display:none;";
}

function repClick(obj){
  repdivID=obj.id+"-div";
  document.getElementById(repdivID).style.cssText = "display:block;";
}

function cancelrep(obj){
  repdivID=obj.id+"div";
  document.getElementById(repdivID).style.cssText = "display:none;";
}
</script>

<% if flash[:notice] || flash[:warning]  %>
<script type="text/javascript">
  document.getElementById('flash-close').onclick=function(){
    $('#flash-info').remove();
  }
</script>
<% end %>