<xml>
  <ToUserName>
  	<![CDATA[<%= params[:xml][:FromUserName] %>]]>
  </ToUserName>
  <FromUserName>
  	<![CDATA[<%= params[:xml][:ToUserName] %>]]>
  </FromUserName>
  <CreateTime>
  	<%= Time.now.to_i %>
  </CreateTime>
  <MsgType>
  	<![CDATA[text]]>
  </MsgType>
  <Content>
  	<![CDATA[你好!，感谢对我们的关注![微笑]]]>
  </Content>
</xml>
