<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <% @flashmsg =  msg %>
  <% end %>
<% end %>

<%= javascript_tag do %>
  var flashmsg = '<%= @flashmsg %>';
<% end %>

<script type="text/javascript">

  var strCookie=document.cookie;
  var arrCookie=strCookie.split("; ");
  var blogin;
  for(var i=0;i<arrCookie.length;i++){
    var arr=arrCookie[i].split("=");
    //找到名称为login
    if("login"==arr[0])
    {
      blogin=arr[1];
    }
  }

  if (blogin=="false"){
    if(flashmsg=="Invalid Phone or password."){
      alert("密码输入有误,请重新输入！");
    }
  }
  else{
    location.href="/";
  }

</script>



  <div class="header-wrp header-text">
    <a href="/" class="header-wrp-left"><i class="material-icons left" id='header-wrp-icon'>&#xE5CB;</i>返回</a>
    登录
    <h class="header-wrp-right"></h>
  </div>

<br><br><br>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <div class="hrline1">
    </div>

  <div class="field">
    <div class="register-field-left">
      <%= f.label :phone, '手机号' %><br />
    </div>
    <div class="register-field-input">
      <%= f.telephone_field :phone, placeholder: "请输入11位手机号" %>
    </div>
  </div>


    <!--div class="horiz-strap register-strap">
      <div class="register-field-left">
          手机号
      </div>
      <div class="register-field-input">
        <input placeholder="请输入手机号" type="tel" name="user[phone]" id="user_phone">
      </div>
    </div-->

    <div class="hrline1">
    </div>


    <div class="horiz-strap register-strap">
      <div class="register-field-left">
        密码
      </div>
      <div class="register-field-input">
        <input placeholder="请输入密码" autocomplete="off" type="password" name="user[password]" id="user_password">
      </div>
    </div>
    <div class="hrline1">
    </div>

<br>

  <div class="row center">
    <button class="btn waves-effect waves-light btn-mobile" type="button" name="action" id="btn-signin">
      登录
    </button>
  </div>
<% end %>
<br>
<div class="block-float-right">
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <!--%= link_to "忘了密码？", new_password_path(resource_name) %><br /-->
  <a href="/user/forget_password" method="get">忘了密码？</a><br />
<% end -%>
</div>

<div style="clear:both"></div>
  <div class="row center">
    <a href="/users/sign_up"  class="btn waves-effect waves-light" id="btn-reg">
      免费注册
    </a>
  </div>

<!--%= render "devise/shared/links" %-->
<script type="text/javascript">

window.onload = function (){
  document.getElementById("footer-index").style.cssText = "display:none;";
}


  $("#btn-signin").click(function(){
    var input_number=$("#user_phone").val();
    //var verification_code=$("#vcode").val();
    if (input_number=="")
    {
      alert("请填入手机号码!");
      return;
    }

    if(!(/^1[3|4|5|7|8]\d{9}$/.test(input_number))){ 
        alert("不是正确的11位手机号!"); 
        return; 
    } 

   $.post("/user/verify_phone",
    {
      number: input_number,
      isregister: 1
    },
    function(data,status){
      //alert("数据：" + data + "\n状态：" + status);
      //alert(data);

      if(data=="newphone")
      {
        alert("该号码尚未被注册，请先注册！");
        return;
      }
      if(data=="existnotverified")
      {
        alert("该号码尚未进行手机认证！");
        $.post("/user/create_code",
        {
          number: input_number,
          isregister: 0
        },
        function(data,status){
          //alert("数据：" + data + "\n状态：" + status);
          //alert(data);
          if(data!="codesent")
          {
            alert("获取验证码失败!");
          }
          else
          {
            location.href="/user/verify_code?phone="+input_number;
          }

        });
        return;
      }
      else
      {
         $("#new_user").submit();
      }
    });

  });
</script>