<div class="container">
<h3 id="float-unit">登录</h3>

<h6 id="float-unit-signup">
  <%= link_to "没有帐号？请注册", new_user_registration_path %>
</h6>

<div style="clear:both"></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :phone, '手机号' %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password, '密码' %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, '记住我' %>
    </div>
  <% end -%>

  <div class="row center">
    <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action">
      登录
    </button>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>