<script type="text/javascript">

</script>

    <iframe id="test" src=''></iframe>


<script>

if(sessionStorage.getItem("located")=="false")
{
  //alert("not locate");
  var ua = window.navigator.userAgent.toLowerCase(); 

  function setCookie(locName,locAddr,locLngLat)
  {
     document.cookie="locName="+encodeURIComponent(locName);
     document.cookie="locAddr="+encodeURIComponent(locAddr);
     document.cookie="locLngLat="+locLngLat;
  }

if(ua.match(/MicroMessenger/i) == 'micromessenger'){
    wx.config({
        debug: false,
        appId: 'wxe133a9303b640322',
        timestamp: <%= @timestamp %>,
        nonceStr: '<%= @noncestr %>',
        signature: '<%= @signature %>',
        jsApiList: [
            'checkJsApi',
            'openLocation',
            'getLocation'
          ]
    });


    wx.ready(function () {
        wx.getLocation({
          success: function (res) {
            //alert(JSON.stringify(res));
            var amapAddr='https://m.amap.com/picker/?center='+res.longitude+','+res.latitude+'&key=9a489a2bb8fa535b0bfe262dda9d0763'
            document.getElementById("test").setAttribute('src', amapAddr);
          },
          fail: function (res) {
            alert('获取地理位置失败，请打开微信定位功能！');
            //document.getElementById("test").setAttribute('src', 'https://m.amap.com/picker/?center=121.47519,31.228833&key=9a489a2bb8fa535b0bfe262dda9d0763');
          },
          cancel: function (res) {
            alert('用户拒绝授权获取地理位置');
            document.getElementById("test").setAttribute('src', 'https://m.amap.com/picker/?center=121.47519,31.228833&key=9a489a2bb8fa535b0bfe262dda9d0763');
          }
        });
    });

    wx.error(function (res) {
      //alert("error");
      alert(res.errMsg);
      //document.cookie="located=true";
      sessionStorage.setItem("located", true);
      document.getElementById("test").setAttribute('src', 'https://m.amap.com/picker/?center=121.47519,31.228833&key=9a489a2bb8fa535b0bfe262dda9d0763');
    });
}

else{
    alert("非微信浏览器，无法定位！");
    document.getElementById("test").setAttribute('src', 'https://m.amap.com/picker/?center=121.47519,31.228833&key=9a489a2bb8fa535b0bfe262dda9d0763');
}


/*function showPosition(position){
    var amapAddr='https://m.amap.com/picker/?center='+parseFloat(position.coords.longitude)+','+parseFloat(position.coords.latitude)+'&key=9a489a2bb8fa535b0bfe262dda9d0763'
    document.getElementById("test").setAttribute('src', amapAddr);
  }
function showError(error)
  {
        document.getElementById("test").setAttribute('src', 'https://m.amap.com/picker/?center=121.39162,31.231866&key=9a489a2bb8fa535b0bfe262dda9d0763');
  switch(error.code) 
    {
    case error.PERMISSION_DENIED:
      alert("User denied the request for Geolocation.");
      break;
    case error.POSITION_UNAVAILABLE:
      alert("Location information is unavailable.");
      break;
    case error.TIMEOUT:
      alert("The request to get user location timed out.");
      break;
    case error.UNKNOWN_ERROR:
      alert("An unknown error occurred.");
      break;
    }
  }

  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition,showError);
    }
  else{
    alert("Geolocation is not supported by this browser.");
  }*/
        (function(){
            var iframe = document.getElementById('test').contentWindow;
            document.getElementById('test').onload = function(){
                iframe.postMessage('hello','https://m.amap.com/picker/');
            };
            sessionStorage.setItem("located", true);
            window.addEventListener("message", function(e){
                //alert('您选择了:' + e.data.name + ','+ e.data.address +',' + e.data.location);
                if (sessionStorage.getItem("located")){
                  //alert("delet");
                  sessionStorage.removeItem("located");
                }
                sessionStorage.setItem("located", true);
                setCookie(e.data.name, e.data.address, e.data.location);
                history.back();
            }, false);
        }())
}
else
{ 
   history.back();
}
</script>