// Place all the styles related to the agendas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header-nav{
  height:40px;
  position:fixed;
  right:0px;
  left:0px;
  top:0px;
  opacity:0.98;
  z-index:1030;
}

#content-body{
  padding-top:41px;
}

#fixed-header{
  height:40px;
  opacity:0.98;
}

#header-wrapper{
  line-height:40px;
}

.nav-li a{
  height:40px;
}

#sidenav-icon{
  height:64px;
  line-height:64px;
}

ul#mobile-demo.side-nav a{
  padding-left:35px;
  padding-right:0px;
}

ul#mobile-demo.side-nav a#side-nav-signout{
  padding-left:79px;
 }

 #mobile-demo{
   display: none;
 }

#nav-icon-home{
  height:40px;
  line-height:40px;
  font-size: 2rem;
  margin-right:0px;
}

#collaps-btn{
  height:40px;
}

#content-body{
  margin-top: 2px;
}

.picture{
  float:left;
  padding:2px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  margin: 0;
  color: rgba(255,255,255,.9);
}

#agenda-list{
  width: 80%;
}

#tabs-fixed {
  position:fixed;
  right:0px;
  left:0px;
  top:28px;
  height:40px;
  opacity:0.98;
  z-index:998;
}

#footer-index {
  position:fixed;
  right:0px;
  left:0px;
  bottom:0px;
  opacity:0.98;
  z-index:99;
}

div#agenda-tabs.row .s2 a {
  color: $primary-color;
  font-size: 1.1em;
}

div#agenda-tabs.row .s2 .active {
  color: $secondary-color;
  font-size: 1.4em;
}

div#agenda-tabs .tabs li {
  min-width:0px;
}

div#agenda-tabs.row .s3 a:hover {
    color: #b2dfdb;
}

div#agenda-tabs .tabs .indicator {
    #background-color: $secondary-color;
}

#center-text{
  text-align:center;
}

#center-logo{
  position:absolute;
  display:inline-block;
  left:38%;
  height:40px;
  font-size: 2.1rem;
}

#notice{
  margin: 0px;
}

p{ 
  word-wrap:break-word; 
  word-break:normal; 
 }

#nav-icon{
  margin-right: 0px;
  height:40px;
  line-height:40px;
}

#arrow-icon1{
  height:40px;
  line-height:40px;
  margin-right: 0px;
  margin-left: 0px;
}

#arrow-icon2{
  line-height: 64px;
  display: inline-block;
  position: absolute;
}

#agd-show-info{
  width:95%;
  margin-left:auto;
  margin-right:auto;
}

#clock{
  width:95%;
  text-align:center;
  clear:both;
  margin-left:auto;
  margin-right:auto;
  color:white;
  background:#1a1a1a;
  padding:5px 0;
}

#span-timing{
  color:#000;
  line-height:2;
  background:#fbfbfb;
  border:2px solid #b4b4b4;
  margin:0 8px;
  padding:0 8px;
}

#atdbtn{
  text-align:center;
  clear:both;
  margin-left:auto;
  margin-right:auto;
}

#show-container{
  width: 95%;
  position: relative;
}

#select-container{
  width: 100%;
  position: relative;
}

#image-show{
  width: 80%;
  margin-top: 20px;
}

div.words-trancated
{
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
}

#h-gray{
  background: #CCCCCC;
}


#img-slider{

}

#img-slider-ul{
  z-index:1;
}

#skipicon-left{
  opacity:0.1;
  color:white !important;
  cursor:pointer;
  padding-top:155px;
  position:relative;
  z-index:99;
}

#skipicon-right{
  opacity:0.1;
  color:white !important;
  cursor:pointer;
  padding-top:155px;
  position:relative;
  z-index:99;
}

h2 i {
  color: $primary-color;
}

div.slider .indicators .indicator-item.active {
    background-color: $primary-color;
}

#select-label{
  padding-left:20px;
}

#float-unit{
  float:left;
  padding:2px;
}

#float-unit-signup{
  float:left;
  margin-top:50px;
  padding-left:15px;
}

#float-unit-collaps-header-icon{
  float:left;
  margin-top:10px;
  height:55px;
}

#float-unit-collaps-header-item{
  float:left;
  margin-top:10px;
  margin-left:30px;
  height:45px;
  width:40%;
  white-space:nowrap;
  overflow:hidden; 
  text-overflow:ellipsis;
}

#float-unit-collaps-header-flag{
  float:right;
  border-left:1px solid #E0E0E0;
  padding-left:15px;
  margin-top:10px;
  margin-right:15px;
  height:45px;
}

div#collaps-image img{
  height:150px;
}

#float-unit-collaps-body-image{
  float:left;
  margin-left:20px;
  height:150px;
}

#float-unit-collaps-body-item{
  float:left;
  margin-left:20px;
}

#collaps-body{
  background-color: #E8E8E8;
  border-bottom: 10px solid #E8E8E8;
  border-top: 10px solid #E8E8E8;
}

#float-unit-user{
  width:70px;
  float:left;
}

#float-unit-textbox{
  width: 70%;
  float:left;
  padding-left:10px;
  border-left:1px solid #E0E0E0;
  word-break : break-all;
}

#usericon-div{
  text-align:center;
  width: 70px;
  height: 48px;
}

#message-time{
  font-size:0.8em;
  color:#989898;
}

#replies{
  background: #F0F0F0;
  margin-left:10px;
}

.chip[id*="span-reply-"]{
  height:20px;
  line-height:20px;
  cursor:pointer;
}

.chip[id*="span-rep-"]{
  height:20px;
  line-height:20px;
  cursor:pointer;
}

#agenda_time .select-wrapper {
  width: 45%;
  display: inline-block;
}

.msgblock-up{
  width:100%;
  height: 59px;
  margin-left: auto;
  margin-right: auto;
}

.msgblock-down{
  width:100%;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
}

.msgblock{
  width:95%;
  margin-left: auto;
  margin-right: auto;
}

.msgblock-up-left{
  position:absolute;
}

.msgblock-up-right{
  height:58px;
  margin-left:60px;
}

#msgblock-up-right-up{
  padding-top:5px;
  height:28px;
}

#msgblock-up-right-down{
  padding-top:2px;
}

.block-words{
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
  line-height:1.3;
  font-size:14.5px;
}

#block-description{
  height:58px;
  margin-left:10px;
}

.chip.block-chip{
  height:20px;
  line-height:20px;
  color: #ffffff;
  background-color: $primary-color;
}

#male-icon{
  font-size: 1.1em;
}

#female-icon{
  font-size: 1.1em;
}

#agdblock-userinfo-male{
  font-size:11px;
  background-color:#87CEFA;
  color:#ffffff;
  padding-right:3px;
  padding-left:3px;
  border-radius:16px;
}

#agdblock-userinfo-female{
  font-size:11px;
  background-color:#FFB6C1;
  color:#ffffff;
  padding-right:3px;
  padding-left:3px;
  border-radius:16px;
}

.block-float-right{
  float:right;
  padding-right:2px;
}

.block-float-right[id*="create-time-"]{
  font-size:0.8em;
  color:#989898;
}

#create-time{
  font-size:0.8em;
  color:#989898;
}

.radius-icon{
  border-radius:50%;
  width:43px;
  height:43px;
}

#msgblock-icon{
  padding-top:5px;
  padding-left:5px;
}

#agdblock-theme{
  color:#696969;
  font-size:1.2em;
}

#agdblock-icon-overdue{
  font-size: 1.2em;
  line-height: 1.1;
  margin-left:10px;
  margin-right: 5px;
  color:$primary-color;
}

#agdblock-icon-flag{
  font-size: 1.2em;
  line-height: 1.3;
  margin-left:0px;
  margin-right: 2px;
  color:$primary-color;
}


#agdblock-icon-time{
  font-size: 1.2em;
  line-height: 1.1;
  margin-left:10px;
  margin-right: 5px;
  color:$primary-color;
}

#agdblock-icon-address{
  font-size: 1.2em;
  line-height: 1.1;
  margin-left:10px;
  margin-right: 5px;
  color:$primary-color;
}

#agdblock-agdname{
  color:#039be5;
  font-size:1.1em;
}

#agdblock-address{
  color:#808080;
  font-size:1em;
}

#agdblock-time{
  color:#808080;
  font-size:1em;
}

#agdblock-name{
  color:#000000;
}



#s1{
  #position:fixed;
  margin-top:6px;
  #margin-right:45px;
  #padding-left:10px;
  #top:65px;
  height:26px;
  #width: 80%;
  z-index:999;
  background-color: #ffffff;
}

.header-wrp{
  position:fixed;
  left:0px;
  right:0px;
  padding-left:2px;
  padding-right:2px;
  top:0px;
  height:38px;
  background-color: $primary-color;
  z-index:999;
}

.header-wrp-left{
  float:left; 
  color:white;
  #background-color: $primary-color;
  margin-left:5px;
  line-height: 38px;
  font-size: 30px;
}

.header-text{
  color:white;
  font-size: 20px;
  text-align:center;
  line-height: 38px;
}

#search-wrp-left{
  float:left; 
  color:white;
  #background-color: $primary-color;
  margin-top:8px;
  margin-left:5px;
}
#search-field{
  margin-left:45px;
  margin-right:47px;
  #background-color: $primary-color;
  text-align:center;
  height:32px;
  margin-top:0px;
  #top:200px;
}
#search-wrp-right{
  float:right;
  color:white;
  #background-color: $primary-color;
  #margin-top:5px;
}

#searchbtn1 {
  position: fixed;
  color:white;
  #float:left;
  right: 1px;
  top: 9px;
  right:20px;
  height: 32px;
  width: 40px;
  border: 0;
  cursor: pointer;
  zoom: 0.8;
  background-color: $primary-color;
}

.text-center{
  text-align: center;
}

.gray-contrainer{
  background-color: #e4e4e4;
}

.horiz-strap{
  margin-top:1px;
  background-color:white;
  height:40px;
  line-height:40px;
  color:#7B7B7B;
}

#horiz-strap-usersettings{
  margin-top:15px;
}

#horiz-strap-usericon{
  height:51px;
  line-height:51px;
  margin-bottom:15px;
}

#strap-word-usericon{
  line-height: 51px;
}

#strap-left-usericon{

  height:51px;
  line-height: 51px;
}

#strap-right-usericon{
  padding-top:4px;
  height:51px;
}

.strap-left{
  float:left;
  margin-left:20px;
  height:40px;
}

.strap-right{
  float:right;
  margin-right:20px;
  height:40px;
}

.strap-icon-wrp{
  #float:left;
  position:absolute;
}

.material-icons.strap-icon{
  margin-top:10px;
  font-size:18px;
}

.strap-word{
  width:150px;
  margin-left:19px;
  line-height: 40px;
}

#user_icon{
  width:50px;
}

/* 记得加注释 */
// 记得注释分页，分块写，这样容易维护

#user_icon, #images_, #pictures_ {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#horiz-strap-usericon-float{
  width:100%;
  float:left;
}

#user_icon_mobile {
  width: 100%;
  height: 51px;
  opacity: 0;
  position: absolute;
  left:0px;
}

/* agenda#index页面 */

.card-image {
  height: 150px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
  }
}

.card-content {
  height: 140px;
  padding: 10px !important;
}

.words-trancated {
  text-align: left;
  .material-icons, span {
    vertical-align: middle;
  }
}

.block-words {
  text-align: left;
  .material-icons, span {
    vertical-align: middle;
  }
}

.chip {
  margin-bottom: 5px;
}

#content-body .material-icons {
  color: $primary-color;
}

#agenda_time .select-wrapper:last-child {
  float: right;
}

#containeramap {width:300px; height: 180px; }

/* sign-in part */
#modal_user_phone, #modal_user_password {
  color: black;
}
