@import "components/color";
$primary-color: color("teal", "base") !default;
$secondary-color: color("pink", "accent-2") !default;
$link-color: color("teal", "darken-1") !default;
@import "materialize";
@import "agendas";
@import "notice";
