.Message {
  display: table;
  position: relative;
  margin-top: 20px;
  width: 100%;
  text-align:center; 
  margin-left:auto; 
  margin-right:auto;
  background-color: #0074d9;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.Message--green {
  background-color: #2ecc40;
}

.Message--red {
  background-color: #ff4136;
}

.Message-icon {
  display: table-cell;
  vertical-align: middle;
  width: 60px;

  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}


.Message-body {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 20px 0px 10px;
}
.Message-body > p {
  line-height: 1.2;
  margin-top: 6px;
}

.Message-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  right: 5px;
  top: 5px;
  opacity: 0;
  cursor: pointer;
}
.Message:hover .Message-close {
  opacity: 1;
}
.Message-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#flash-icon{
  font-size:35px;
}