<% if flash[:notice] %>
  <!--ignore the notice for user sign in, sign out-->
  <% notice %>
<% end %>




<div class="header-wrp">
  <div id="search-wrp-right"> 
  </div>
  <div id="search-wrp-left">
    上海
  </div>
  <div id="search-field">
    <form name="searchform1" method="get" action="/agendas">
      <input type="text" style="border-radius:10px;" name="query" id="s1" class="searchfieldjs" placeholder="搜索邀约..." tabindex="2">
      <!--input type="submit"  id="searchbtn1" value=""-->
      <button type="submit" id="searchbtn1">
        <i class="material-icons left" id="searicon">&#xE8B6;</i>
      </button>
    </form>
  </div>
</div>
<br>


<div class="row" id="agenda-tabs">


  <ul class="tabs" id="tabs-fixed">

    <li class="tab col s2"><a class="active" href="#item0">全部</a></li>
    <li class="tab col s2"><a href="#item1">运动</a></li>
    <li class="tab col s2"><a href="#item2">娱乐</a></li>
    <li class="tab col s2"><a href="#item3">饭局</a></li>
    <li class="tab col s2"><a href="#item4">旅游</a></li>
    <li class="tab col s2"><a href="#item5">推荐</a></li>
  </ul>

 
    <br>
    <br>
    <br>


  <div id="item0" class="col s12">
    <% @agendas_item = @agendas %>
    <% if @agendas_item.blank?%>
    <% else %>
        <% @agendas_item.each do |agenda| %>
          <% @agenda=agenda %>
          <% @itemid=0%>
            <% if mobile_device? %>
              <%= render 'agdblock'%>
              <br>
            <% else%>
              <%= render 'agdcard'%>
            <% end %>
        <% end %>
    <% end %>
  </div>

  <% @categories.each do |category| %>
    <div id=<%="item"+"#{category.id}"%> class="col s12">
      <% @agendas_item = @agendas.where(category_id: category.id).order(:isoverdue, :datatime)%>
        <% if @agendas_item.blank?%>
        <% else %>
          <% @agendas_item.each do |agenda| %>
            <% @agenda=agenda %>
            <% @itemid=category.id%>
              <% if mobile_device? %>
                <%= render 'agdblock'%>
                <br>
              <% else%>
                <%= render 'agdcard'%>
              <% end %>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>


<%= render 'layouts/footer' %>
