<p id="notice"><%= notice %></p>

<p>
  <strong>类别:</strong>
  <%= @category.name %>
</p>

<div class="row" id="agenda-list">
  <% @agendas.each do |agenda| %>
    <% @images=agenda.images%>
     <% @image=@images.first%>
        <% @sponsor=User.find(agenda.sponsor_id) %>
          <% @zone=Zone.find(agenda.zone_id)%>
          <div class="col s6 m3" id="card-container">
            <div class="card">
              <div class="card-image">
                <%= link_to image_tag(@image.image.thumb.url), agenda %>
              </div>
              <div class="card-content" id="agenda-description">
                 <p align="center">
                    <%= link_to @zone.name, zone_agendas_path(@zone.id) %>
                    <%= link_to @category.name, category_agendas_path(@category.id) %>
                 </p>
                <p>发起者：<%= link_to("#{@sponsor.name}","/agendas/users/#{agenda.sponsor_id}")%></p>
                <p><%=agenda.description%></p>
              </div>
            </div>
          </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
