<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">找到你想邀约的人</h5>
        <p class="grey-text text-lighten-4">© 2016 即客</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">链接</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">加入我们</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">联系我们</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">微信公众号</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <a style="color: white" href='http://www.zx110.org/picp/?sn=310100102201'>
      沪ICP备15033098号-2
    </a>
      © 2016 即客
    <a class="grey-text text-lighten-4 right" href="#!">友情链接</a>
    </div>
  </div>
</footer>