  <nav class="teal lighten-1" id="footer-index">
    <div class="nav-wrapper">
      <ul class="row" id="nav-mobile">
        <li class="col s4"><a href="/">发现邀约</a></li>
        <li class="col s4"><a href="/agendas/new">发布邀约</a></li>
        <li class="col s4"><a href="/home">个人主页</a></li>
      </ul>
    </div>
  </nav>