<!--div class="navbar-fixed" id="fixed-header"-->
<nav id="header-nav">
  <div class="nav-wrapper" id="header-wrapper">
    <a href="/" class="brand-logo left">即客</a>
    <a href="/agendas/new" class="hide-on-med-and-up" id="center-logo"><i class="material-icons left" id='nav-icon'>&#xE145;</i>发布</a>
    <ul id="nav-mobile" class="right hide-on-small-and-down" >
      <% if user_signed_in? %>
        <li class="nav-li">
          <a href="/agendas/new"><i class="material-icons left" id='nav-icon'>&#xE145;</i>发布</a>
        </li>
        <li class="nav-li">
          <a href="/home"><i class="material-icons left" id='nav-icon'>&#xE88A;</i>我的主页</a>
        </li>
        <li class="nav-li">
          <a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left" id='nav-icon'>&#xE8A6;</i>
          <% if current_user.name !=nil%>
            <%=current_user.name %>
          <% else %>
            <%=current_user.phone %>
          <% end %>
          <i class="material-icons right" id='arrow-icon1'>&#xE5C5;</i>
          </a>
        </li>
      <% else %>
        <li class="nav-li">
          <a href="/agendas/new"><i class="material-icons left" id='nav-icon'>&#xE145;</i>发布</a>
        </li>
        <li class="nav-li">
          <a href="#modal1" class="modal-trigger"><i class="material-icons left" id='nav-icon'>&#xE895;</i>请登录</a>

          <!-- Modal Structure -->
          <div id="modal1" class="modal">

            <%= form_for(resource1, as: resource1_name, url: session_path(resource1_name), html: {id: "modal-signin-form"}) do |f| %>
              <div class="modal-content">
                <div class="field">
                  <%= f.label :phone, '手机号' %><br />
                  <%= f.text_field :phone, id: "modal_user_phone" %>
                </div>

                <div class="field">
                  <%= f.label :password, '密码' %><br />
                  <%= f.password_field :password, autocomplete: "off", id: "modal_user_password" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, '记住我' %>
                  </div>
                <% end -%>
              </div>
              <div class="modal-footer">
                <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action">
                  登录
                </button>
              </div>
            <% end %>

          </div>
        </li>
        <li class="nav-li">
          <%= link_to "没有帐号？请注册", new_user_registration_path %>
        </li>
      <% end%>
    </ul>

    <ul id="nav-mobile" class="right hide-on-med-and-up" >
      <% if user_signed_in? %>
        <li class="nav-li">
          <a href="/" data-activates="mobile-demo" class="button-collapse right hide-on-med-and-up" id="collaps-btn"><i class="tiny material-icons left" id='nav-icon-home'>&#xE88A;</i>
          <% if current_user.name !=nil%>
            <%=current_user.name %>
          <% else %>
            <%=current_user.phone %>
          <% end %>
          </a>
        </li class="nav-li">
      <% else %>
        <li class="nav-li">
          <a href="/" data-activates="mobile-demo" class="button-collapse right hide-on-med-and-up" id="collaps-btn">
            登录/注册
          </a>
        </li>
      <% end%>
    </ul>

    <ul class="side-nav teal lighten-1" id="mobile-demo">
      <li>
        <a href="/agendas/new"><i class="material-icons left" id='sidenav-icon'>&#xE145;</i>发布邀约</a>
      </li>

      <% if user_signed_in? %>
        <li>
          <a href="/home"><i class="material-icons left" id='sidenav-icon'>&#xE88A;</i>我的主页</a>
        </li>
        <li>
          <a href="/users/edit">
          <i class="material-icons left" id='sidenav-icon'>&#xE254;</i>
            更新资料
          </a>
        </li>
        <li>
          <a href="/users/sign_out" data-method='delete' id="side-nav-signout">退出账号</a>
        </li>
      <% else %>
        <li>
          <a href="/users/sign_in"><i class="material-icons left" id='sidenav-icon'>&#xE895;</i>用户登录</a>
        </li>
        <li>
          <%= link_to "没有帐号？请注册", new_user_registration_path %>
        </li>
      <% end%>
    </ul>

  </div>
</nav>
<!--/div-->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/users/edit">更新资料</a></li>
  <li class="divider"></li>
  <li><a href="/users/sign_out" data-method='delete'>退出账号</a></li>
</ul>

<script type="text/javascript">
  document.getElementById('mobile-demo').style.cssText = "display:none;";
  document.getElementById('collaps-btn').onclick=function(){
    document.getElementById('mobile-demo').style.cssText = "display:block;";
  }
</script>