<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <title>即客-找到你想邀约的人</title>
  <%= stylesheet_link_tag 'application.mobile' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'http://res.wx.qq.com/open/js/jweixin-1.0.0.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <%= yield %>
  </div>

</body>
</html>
